/**
 * Foundation for Sites by ZURB
 * Version 6.3.1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,800|Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300|Open+Sans+Condensed:300,700);
@media only screen and (min-width: 90.063em) {
  .xlarge-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .xlarge-block-grid-1 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }
  .xlarge-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .xlarge-block-grid-2 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }
  .xlarge-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .xlarge-block-grid-3 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }
  .xlarge-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .xlarge-block-grid-4 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }
  .xlarge-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .xlarge-block-grid-5 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }
  .xlarge-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .xlarge-block-grid-6 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }
  .xlarge-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .xlarge-block-grid-7 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }
  .xlarge-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .xlarge-block-grid-8 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }
  .xlarge-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .xlarge-block-grid-9 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }
  .xlarge-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .xlarge-block-grid-10 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }
  .xlarge-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .xlarge-block-grid-11 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }
  .xlarge-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .xlarge-block-grid-12 > li:nth-of-type(n) {
    clear: none; }
  .xlarge-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }

@media only screen and (min-width: 120.063em) {
  .xxlarge-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .xxlarge-block-grid-1 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }
  .xxlarge-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .xxlarge-block-grid-2 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }
  .xxlarge-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .xxlarge-block-grid-3 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }
  .xxlarge-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .xxlarge-block-grid-4 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }
  .xxlarge-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .xxlarge-block-grid-5 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }
  .xxlarge-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .xxlarge-block-grid-6 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }
  .xxlarge-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .xxlarge-block-grid-7 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }
  .xxlarge-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .xxlarge-block-grid-8 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }
  .xxlarge-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .xxlarge-block-grid-9 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }
  .xxlarge-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .xxlarge-block-grid-10 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }
  .xxlarge-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .xxlarge-block-grid-11 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }
  .xxlarge-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .xxlarge-block-grid-12 > li:nth-of-type(n) {
    clear: none; }
  .xxlarge-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }

html, body {
  margin: 0;
  padding: 0;
  height: auto; }

@media only screen and (min-width: 770px) {
  .main.columns {
    padding-left: 0;
    padding-right: 0; } }

main.row {
  padding: 3rem 0 5rem 0; }

.wide-body main.row {
  width: 100%;
  max-width: 100%;
  padding: 0; }

.wide-body div.main.columns {
  padding-left: 0;
  padding-right: 0; }
  @media only screen and (max-width: 769px) {
    .wide-body div.main.columns {
      padding: 0 0.9375em; } }

.section {
  width: 100%;
  margin: 0;
  padding: 0; }

.box {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0; }
  @media only screen and (max-width: 769px) {
    .box {
      margin-left: 0;
      margin-right: 0;
      width: 100%; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    .box {
      width: 740px; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    .box {
      width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .box {
      width: 1180px; } }
  .main.columns.medium-9 .box {
    margin-left: -20px; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .main.columns.medium-9 .box {
        width: 555px; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .main.columns.medium-9 .box {
        width: 720px; } }
    @media only screen and (min-width: 1200px) {
      .main.columns.medium-9 .box {
        width: 885px; } }
  .main.columns.medium-6 .box {
    margin-left: -20px; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .main.columns.medium-6 .box {
        width: 370px; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .main.columns.medium-6 .box {
        width: 480px; } }
    @media only screen and (min-width: 1200px) {
      .main.columns.medium-6 .box {
        width: 590px; } }
  .box.wide {
    width: 100%; }
    @media only screen and (max-width: 769px) {
      .box.wide .row {
        width: calc(100% - (5px * 2));
        padding: 0 5px; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    .wide-body .box {
      width: 740px; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    .wide-body .box {
      width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .wide-body .box {
      width: 1180px; } }
  .wide-body .box.wide {
    width: 100%; }

.row {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row .row {
    width: auto;
    margin-left: 0;
    margin-right: 0; }
  @media only screen and (max-width: 769px) {
    main .row {
      width: 100%;
      margin: 0 auto !important; }
    .row .row {
      width: 100%; } }
  @media only screen and (max-width: 769px) {
    .row {
      width: 96%;
      margin: 0 auto; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    .row {
      width: 740px; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    .row {
      width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .row {
      width: 1180px; } }

.row-separator {
  padding: 2em 0; }
  @media only screen and (max-width: 769px) {
    .row-separator {
      padding: 1em 0; } }

.col {
  margin: 10px;
  padding: 10px;
  float: left;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 769px) {
    .col {
      margin: 0 5px 10px 5px; } }
  .col.parent {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    background: none; }
  .col.gutterless {
    margin: 0;
    padding: 0; }
  .col.center {
    text-align: center; }
  .col.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both; }
  .col.right {
    float: right; }
    @media (max-width: 767px) {
      .col.right {
        float: none; } }
  .col > .inside {
    margin: 0 1rem; }
  .col.clearLeft {
    clear: left; }

@media only screen and (min-width: 770px) {
  .col.large-12 {
    width: calc(100% - (10px*2)); }
    .col.large-12.gutterless, .col.large-12.parent {
      width: 100%; }
  .col.large-11 {
    width: calc(((100%/12)*11) - (10px*2)); }
    .col.large-11.gutterless, .col.large-11.parent {
      width: calc((100%/12)*11); }
  .col.large-10 {
    width: calc(((100%/12)*10) - (10px*2)); }
    .col.large-10.gutterless, .col.large-10.parent {
      width: calc((100%/12)*10); }
  .col.large-9 {
    width: calc(75% - (10px*2)); }
    .col.large-9.gutterless, .col.large-9.parent {
      width: 75%; }
  .col.large-8 {
    width: calc(((100%/12)*8) - (10px*2)); }
    .col.large-8.gutterless, .col.large-8.parent {
      width: calc((100%/12)*8); }
  .col.large-7 {
    width: calc(((100%/12)*7) - (10px*2)); }
    .col.large-7.gutterless, .col.large-7.parent {
      width: calc((100%/12)*7); }
  .col.large-6 {
    width: calc(50% - (10px*2)); }
    .col.large-6.gutterless, .col.large-6.parent {
      width: 50%; }
  .col.large-5 {
    width: calc(((100%/12)*5) - (10px*2)); }
    .col.large-5.gutterless, .col.large-5.parent {
      width: calc((100%/12)*5); }
  .col.large-4 {
    width: calc(((100%/12)*4) - (10px*2)); }
    .col.large-4.gutterless, .col.large-4.parent {
      width: calc((100%/12)*4); }
  .col.large-3 {
    width: calc(25% - (10px*2)); }
    .col.large-3.gutterless, .col.large-3.parent {
      width: 25%; }
  .col.large-2 {
    width: calc(((100%/12)*2) - (10px*2)); }
    .col.large-2.gutterless, .col.large-2.parent {
      width: calc((100%/12)*2); }
  .col.large-1 {
    width: calc((100%/12) - (10px*2)); }
    .col.large-1.gutterless, .col.large-1.parent {
      width: calc(100%/12); }
  .col.large-0 {
    width: 0px;
    height: 0px; }
    .col.large-0.gutterless, .col.large-0.parent {
      width: 0px;
      height: 0px; }
  .col.large-5th {
    width: calc(20% - (10px*2)); }
    .col.large-5th.gutterless, .col.large-5th.parent {
      width: 20%; }
  .col.large-7th {
    width: calc((100%/7) - (10px*2)); }
    .col.large-7th.gutterless, .col.large-7th.parent {
      width: calc(100%/7); }
  .col.large-8th {
    width: calc((100%/8) - (10px*2)); }
    .col.large-8th.gutterless, .col.large-8th.parent {
      width: calc(100%/8); } }

@media only screen and (min-width: 770px) and (max-width: 1200px) {
  .col.medium-12 {
    width: calc(100% - (10px*2)); }
    .col.medium-12.gutterless, .col.medium-12.parent {
      width: 100%; }
  .col.medium-11 {
    width: calc(((100%/12)*11) - (10px*2)); }
    .col.medium-11.gutterless, .col.medium-11.parent {
      width: calc((100%/12)*11); }
  .col.medium-10 {
    width: calc(((100%/12)*10) - (10px*2)); }
    .col.medium-10.gutterless, .col.medium-10.parent {
      width: calc((100%/12)*10); }
  .col.medium-9 {
    width: calc(75% - (10px*2)); }
    .col.medium-9.gutterless, .col.medium-9.parent {
      width: 75%; }
  .col.medium-8 {
    width: calc(((100%/12)*8) - (10px*2)); }
    .col.medium-8.gutterless, .col.medium-8.parent {
      width: calc((100%/12)*8); }
  .col.medium-7 {
    width: calc(((100%/12)*7) - (10px*2)); }
    .col.medium-7.gutterless, .col.medium-7.parent {
      width: calc((100%/12)*7); }
  .col.medium-6 {
    width: calc(50% - (10px*2)); }
    .col.medium-6.gutterless, .col.medium-6.parent {
      width: 50%; }
  .col.medium-5 {
    width: calc(((100%/12)*5) - (10px*2)); }
    .col.medium-5.gutterless, .col.medium-5.parent {
      width: calc((100%/12)*5); }
  .col.medium-4 {
    width: calc(((100%/12)*4) - (10px*2)); }
    .col.medium-4.gutterless, .col.medium-4.parent {
      width: calc((100%/12)*4); }
  .col.medium-3 {
    width: calc(25% - (10px*2)); }
    .col.medium-3.gutterless, .col.medium-3.parent {
      width: 25%; }
  .col.medium-2 {
    width: calc(((100%/12)*2) - (10px*2)); }
    .col.medium-2.gutterless, .col.medium-2.parent {
      width: calc((100%/12)*2); }
  .col.medium-1 {
    width: calc((100%/12) - (10px*2)); }
    .col.medium-1.gutterless, .col.medium-1.parent {
      width: calc(100%/12); }
  .col.medium-0 {
    width: 0px;
    height: 0px; }
    .col.medium-0.gutterless, .col.medium-0.parent {
      width: 0px;
      height: 0px; }
  .col.medium-5th {
    width: calc(20% - (10px*2)); }
    .col.medium-5th.gutterless, .col.medium-5th.parent {
      width: 20%; }
  .col.medium-7th {
    width: calc((100%/7) - (10px*2)); }
    .col.medium-7th.gutterless, .col.medium-7th.parent {
      width: calc(100%/7); }
  .col.medium-8th {
    width: calc((100%/8) - (10px*2)); }
    .col.medium-8th.gutterless, .col.medium-8th.parent {
      width: calc(100%/8); } }

@media only screen and (min-width: 770px) and (max-width: 980px) {
  .col.small-12 {
    width: calc(100% - (10px*2)); }
    .col.small-12.gutterless, .col.small-12.parent {
      width: 100%; }
  .col.small-11 {
    width: calc(((100%/12)*11) - (10px*2)); }
    .col.small-11.gutterless, .col.small-11.parent {
      width: calc((100%/12)*11); }
  .col.small-10 {
    width: calc(((100%/12)*10) - (10px*2)); }
    .col.small-10.gutterless, .col.small-10.parent {
      width: calc((100%/12)*10); }
  .col.small-9 {
    width: calc(75% - (10px*2)); }
    .col.small-9.gutterless, .col.small-9.parent {
      width: 75%; }
  .col.small-8 {
    width: calc(((100%/12)*8) - (10px*2)); }
    .col.small-8.gutterless, .col.small-8.parent {
      width: calc((100%/12)*8); }
  .col.small-7 {
    width: calc(((100%/12)*7) - (10px*2)); }
    .col.small-7.gutterless, .col.small-7.parent {
      width: calc((100%/12)*7); }
  .col.small-6 {
    width: calc(50% - (10px*2)); }
    .col.small-6.gutterless, .col.small-6.parent {
      width: 50%; }
  .col.small-5 {
    width: calc(((100%/12)*5) - (10px*2)); }
    .col.small-5.gutterless, .col.small-5.parent {
      width: calc((100%/12)*5); }
  .col.small-4 {
    width: calc(((100%/12)*4) - (10px*2)); }
    .col.small-4.gutterless, .col.small-4.parent {
      width: calc((100%/12)*4); }
  .col.small-3 {
    width: calc(25% - (10px*2)); }
    .col.small-3.gutterless, .col.small-3.parent {
      width: 25%; }
  .col.small-2 {
    width: calc(((100%/12)*2) - (10px*2)); }
    .col.small-2.gutterless, .col.small-2.parent {
      width: calc((100%/12)*2); }
  .col.small-1 {
    width: calc((100%/12) - (10px*2)); }
    .col.small-1.gutterless, .col.small-1.parent {
      width: calc(100%/12); }
  .col.small-0 {
    width: 0px;
    height: 0px; }
    .col.small-0.gutterless, .col.small-0.parent {
      width: 0px;
      height: 0px; }
  .col.small-5th {
    width: calc(20% - (10px*2)); }
    .col.small-5th.gutterless, .col.small-5th.parent {
      width: 20%; }
  .col.small-7th {
    width: calc((100%/7) - (10px*2)); }
    .col.small-7th.gutterless, .col.small-7th.parent {
      width: calc(100%/7); }
  .col.small-8th {
    width: calc((100%/8) - (10px*2)); }
    .col.small-8th.gutterless, .col.small-8th.parent {
      width: calc(100%/8); } }

@media only screen and (max-width: 769px) {
  .mobile-12 {
    width: calc(100% - (5px*2)); }
    .mobile-12.parent, .mobile-12.gutterless {
      width: 100%; }
  .mobile-11 {
    width: calc(((100%/12)*11) - (5px*2)); }
    .mobile-11.parent, .mobile-11.gutterless {
      width: calc((100%/12)*11); }
  .mobile-10 {
    width: calc(((100%/12)*10) - (5px*2)); }
    .mobile-10.parent, .mobile-10.gutterless {
      width: calc((100%/12)*10); }
  .mobile-9 {
    width: calc(75% - (5px*2)); }
    .mobile-9.parent, .mobile-9.gutterless {
      width: 75%; }
  .mobile-8 {
    width: calc(((100%/12)*8) - (5px*2)); }
    .mobile-8.parent, .mobile-8.gutterless {
      width: calc((100%/12)*8); }
  .mobile-7 {
    width: calc(((100%/12)*7) - (5px*2)); }
    .mobile-7.parent, .mobile-7.gutterless {
      width: calc((100%/12)*7); }
  .mobile-6 {
    width: calc(50% - (5px*2)); }
    .mobile-6.parent, .mobile-6.gutterless {
      width: 50%; }
  .mobile-5 {
    width: calc(((100%/12)*5) - (5px*2)); }
    .mobile-5.parent, .mobile-5.gutterless {
      width: calc((100%/12)*5); }
  .mobile-4 {
    width: calc(((100%/12)*4) - (5px*2)); }
    .mobile-4.parent, .mobile-4.gutterless {
      width: calc((100%/12)*4); }
  .mobile-3 {
    width: calc(25% - (5px*2)); }
    .mobile-3.parent, .mobile-3.gutterless {
      width: 25%; }
  .mobile-2 {
    width: calc(((100%/12)*2) - (5px*2)); }
    .mobile-2.parent, .mobile-2.gutterless {
      width: calc((100%/12)*2); }
  .mobile-1 {
    width: calc((100%/12) - (5px*2)); }
    .mobile-1.parent, .mobile-1.gutterless {
      width: calc(100%/12); }
  .mobile-0 {
    width: 0px !important;
    height: 0px !important;
    display: none; }
  .mobile-5th {
    width: calc(20% - (5px*2)); }
    .mobile-5th.parent, .mobile-5th.gutterless {
      width: 20%; }
  .mobile-7th {
    width: calc((100%/7) - (5px*2)); }
    .mobile-7th.parent, .mobile-7th.gutterless {
      width: calc(100%/7); }
  .mobile-8th {
    width: calc((100%/8) - (5px*2)); }
    .mobile-8th.parent, .mobile-8th.gutterless {
      width: calc(100%/8); }
  .mobile-centered {
    float: none;
    clear: both;
    margin: calc(5px*2) auto; }
    .parent .mobile-centered:last-child {
      margin-bottom: 5px; } }

@media only screen and (max-width: 769px) {
  .col.small-1, .col.small-2, .col.small-3, .col.small-4, .col.small-5, .col.small-6, .col.small-7, .col.small-8, .col.small-9, .col.small-10, .col.small-11, .col.small-12, .col.small-5th, .col.small-7th, .col.small-8th, .col.medium-1, .col.medium-2, .col.medium-3, .col.medium-4, .col.medium-5, .col.medium-6, .col.medium-7, .col.medium-8, .col.medium-9, .col.medium-10, .col.medium-11, .col.medium-12, .col.medium-5th, .col.medium-7th, .col.medium-8th, .col.large-1, .col.large-2, .col.large-3, .col.large-4, .col.large-5, .col.large-6, .col.large-7, .col.large-8, .col.large-9, .col.large-10, .col.large-11, .col.large-12, .col.large-5th, .col.large-7th, .col.large-8th {
    width: calc(100% - (5px * 2));
    margin: 0 5px 10px 5px; }
    .col.small-1.parent, .col.small-2.parent, .col.small-3.parent, .col.small-4.parent, .col.small-5.parent, .col.small-6.parent, .col.small-7.parent, .col.small-8.parent, .col.small-9.parent, .col.small-10.parent, .col.small-11.parent, .col.small-12.parent, .col.small-5th.parent, .col.small-7th.parent, .col.small-8th.parent, .col.medium-1.parent, .col.medium-2.parent, .col.medium-3.parent, .col.medium-4.parent, .col.medium-5.parent, .col.medium-6.parent, .col.medium-7.parent, .col.medium-8.parent, .col.medium-9.parent, .col.medium-10.parent, .col.medium-11.parent, .col.medium-12.parent, .col.medium-5th.parent, .col.medium-7th.parent, .col.medium-8th.parent, .col.large-1.parent, .col.large-2.parent, .col.large-3.parent, .col.large-4.parent, .col.large-5.parent, .col.large-6.parent, .col.large-7.parent, .col.large-8.parent, .col.large-9.parent, .col.large-10.parent, .col.large-11.parent, .col.large-12.parent, .col.large-5th.parent, .col.large-7th.parent, .col.large-8th.parent {
      width: 100%;
      margin: 0; }
  .col.mobile-1, .col.mobile-2, .col.mobile-3, .col.mobile-4, .col.mobile-5, .col.mobile-6, .col.mobile-7, .col.mobile-8, .col.mobile-9, .col.mobile-10, .col.mobile-11, .col.mobile-12, .col.mobile-5th, .col.mobile-7th, .col.mobile-8th {
    float: left;
    clear: none; }
  .col.mobile-12 {
    width: calc(100% - (5px*2)); }
    .col.mobile-12.parent {
      width: calc(((100%/12)*12)); }
  .col.mobile-11 {
    width: calc(((100%/12)*11) - (5px*2)); }
    .col.mobile-11.parent {
      width: calc(((100%/12)*11)); }
  .col.mobile-10 {
    width: calc(((100%/12)*10) - (5px*2)); }
    .col.mobile-10.parent {
      width: calc(((100%/12)*10)); }
  .col.mobile-9 {
    width: calc(75% - (5px*2)); }
    .col.mobile-9.parent {
      width: calc(((100%/12)*9)); }
  .col.mobile-8 {
    width: calc(((100%/12)*8) - (5px*2)); }
    .col.mobile-8.parent {
      width: calc(((100%/12)*8)); }
  .col.mobile-7 {
    width: calc(((100%/12)*7) - (5px*2)); }
    .col.mobile-7.parent {
      width: calc(((100%/12)*7)); }
  .col.mobile-6 {
    width: calc(50% - (5px*2)); }
    .col.mobile-6.parent {
      width: calc(((100%/12)*6)); }
  .col.mobile-5 {
    width: calc(((100%/12)*5) - (5px*2)); }
    .col.mobile-5.parent {
      width: calc(((100%/12)*5)); }
  .col.mobile-4 {
    width: calc(((100%/12)*4) - (5px*2)); }
    .col.mobile-4.parent {
      width: calc(((100%/12)*4)); }
  .col.mobile-3 {
    width: calc(25% - (5px*2)); }
    .col.mobile-3.parent {
      width: calc(((100%/12)*3)); }
  .col.mobile-2 {
    width: calc(((100%/12)*2) - (5px*2)); }
    .col.mobile-2.parent {
      width: calc(((100%/12)*2)); }
  .col.mobile-1 {
    width: calc((100%/12) - (5px*2)); }
    .col.mobile-1.parent {
      width: calc(((100%/12)*1)); }
  .col.mobile-0 {
    width: 0px !important;
    height: 0px !important;
    display: none; }
  .col.mobile-5th {
    width: calc(20% - (5px*2)); }
    .col.mobile-5th.parent {
      width: calc(((100%/12)*5)); }
  .col.mobile-7th {
    width: calc((100%/7) - (5px*2)); }
    .col.mobile-7th.parent {
      width: calc(((100%/12)*7)); }
  .col.mobile-8th {
    width: calc((100%/8) - (5px*2)); }
    .col.mobile-8th.parent {
      width: calc(((100%/12)*8)); }
  .col.mobile-centered {
    float: none;
    clear: both;
    margin: calc(5px*2) auto; }
    .parent .col.mobile-centered:last-child {
      margin-bottom: 5px; } }

html {
  font-size: 100%; }

body {
  color: #222222;
  font-family: "Open Sans", Verdana, sans-serif; }
  @media only screen and (max-width: 979px) {
    body {
      font-size: 14px;
      font-size: 0.875em;
      font-size: 0.875rem; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    body {
      font-size: 15px;
      font-size: 0.9375em;
      font-size: 0.9375rem; } }
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 16px;
      font-size: 1em;
      font-size: 1rem; } }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-weight: bold; }

h1, h2, h3 {
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1em; }

h4, h5, h6 {
  font-family: "Open Sans", Verdana, sans-serif;
  line-height: 1.25em; }

h6 {
  line-height: 1.5em; }

@media only screen and (max-width: 979px) {
  h1 {
    font-size: 44px;
    font-size: 2.75em;
    font-size: 2.75rem; } }

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  h1 {
    font-size: 50px;
    font-size: 3.125em;
    font-size: 3.125rem; } }

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 56px;
    font-size: 3.5em;
    font-size: 3.5rem; } }

h1#page-title {
  margin: 0 0 1em 0; }
  h1#page-title.hide {
    display: none; }
  h1#page-title.adjust {
    margin: 10px;
    padding: 0 10px; }
    @media only screen and (max-width: 769px) {
      h1#page-title.adjust {
        margin: 5px;
        padding: 0 5px; } }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      h1#page-title.adjust {
        width: 740px;
        margin: 50px auto 0 auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      h1#page-title.adjust {
        width: 960px;
        margin: 50px auto 0 auto; } }
    @media only screen and (min-width: 1200px) {
      h1#page-title.adjust {
        width: 1180px;
        margin: 50px auto 0 auto; } }

h2 {
  margin-top: 1em; }
  @media only screen and (max-width: 979px) {
    h2 {
      font-size: 36px;
      font-size: 2.25em;
      font-size: 2.25rem; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    h2 {
      font-size: 42px;
      font-size: 2.625em;
      font-size: 2.625rem; } }
  @media only screen and (min-width: 1200px) {
    h2 {
      font-size: 46px;
      font-size: 2.875em;
      font-size: 2.875rem; } }

h3 {
  margin-top: 1em;
  margin-bottom: .75em; }
  @media only screen and (max-width: 979px) {
    h3 {
      font-size: 26px;
      font-size: 1.625em;
      font-size: 1.625rem; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    h3 {
      font-size: 32px;
      font-size: 2em;
      font-size: 2rem; } }
  @media only screen and (min-width: 1200px) {
    h3 {
      font-size: 38px;
      font-size: 2.375em;
      font-size: 2.375rem; } }
  h3.solo {
    margin-bottom: .15em; }
  h3.paired {
    margin-bottom: .5em; }

@media only screen and (max-width: 979px) {
  h4 {
    font-size: 18px;
    font-size: 1.125em;
    font-size: 1.125rem; } }

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  h4 {
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem; } }

@media only screen and (min-width: 1200px) {
  h4 {
    font-size: 24px;
    font-size: 1.5em;
    font-size: 1.5rem; } }

@media only screen and (max-width: 979px) {
  h5 {
    font-size: 15px;
    font-size: 0.9375em;
    font-size: 0.9375rem; } }

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  h5 {
    font-size: 16px;
    font-size: 1em;
    font-size: 1rem; } }

@media only screen and (min-width: 1200px) {
  h5 {
    font-size: 22px;
    font-size: 1.375em;
    font-size: 1.375rem; } }

h6 {
  text-transform: uppercase; }
  @media only screen and (max-width: 979px) {
    h6 {
      font-size: 13px;
      font-size: 0.8125em;
      font-size: 0.8125rem; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    h6 {
      font-size: 15px;
      font-size: 0.9375em;
      font-size: 0.9375rem; } }
  @media only screen and (min-width: 1200px) {
    h6 {
      font-size: 17px;
      font-size: 1.0625em;
      font-size: 1.0625rem; } }

a, a:link, a:active, a:visited {
  color: #454545;
  text-decoration: none; }
  a:hover, a:link:hover, a:active:hover, a:visited:hover {
    color: #181818;
    text-decoration: underline; }

a h1, a h2, a h3, a h4, a h5, a h6 {
  color: #89C732;
  text-decoration: none; }

a:hover {
  color: #181818; }
  a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    text-decoration: underline; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #89C732;
  text-decoration: none; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #181818;
    text-decoration: underline; }

p, li, blockquote {
  font-family: "Open Sans", Verdana, sans-serif; }
  @media only screen and (max-width: 979px) {
    p, li, blockquote {
      font-size: 14px;
      font-size: 0.875em;
      font-size: 0.875rem; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    p, li, blockquote {
      font-size: 15px;
      font-size: 0.9375em;
      font-size: 0.9375rem; } }
  @media only screen and (min-width: 1200px) {
    p, li, blockquote {
      font-size: 16px;
      font-size: 1em;
      font-size: 1rem; } }
  p a, li a, blockquote a {
    color: #89C732;
    text-decoration: underline; }
    p a:hover, li a:hover, blockquote a:hover {
      color: #181818;
      text-decoration: underline; }

p {
  line-height: 1.75em;
  font-family: "Open Sans", Verdana, sans-serif; }

ul, ol {
  margin: .75em 0 1.5rem 1.5em;
  margin: .75rem 0 1.5rem 1.5rem; }
  ul li, ol li {
    line-height: 1.5em;
    margin-bottom: .75em; }
  @media only screen and (max-width: 979px) {
    ul.partial-list, ol.partial-list {
      margin-top: -1.15em; } }

#admin-menu-menu li, #admin-menu-menu a,
#admin-menu-wrapper li,
#admin-menu-wrapper a {
  font-size: 11px;
  line-height: 15px; }

.center {
  text-align: center; }

.notes {
  font-size: 12px;
  font-size: 0.75em;
  font-size: 0.75rem;
  color: #666;
  font-style: italic;
  line-height: 1.35em; }
  @media only screen and (max-width: 769px) {
    .notes {
      font-size: 9px;
      font-size: 0.5625em;
      font-size: 0.5625rem; } }

.title {
  margin-top: 0; }

.alert-box ul {
  font-size: 1em;
  margin-bottom: 0; }

header {
  background: #89C732; }
  header img.logo {
    height: 80px; }

.contain-to-grid {
  background: transparent; }
  .contain-to-grid .top-bar {
    background: transparent;
    margin-bottom: -1px; }
    .contain-to-grid .top-bar .title-area {
      height: 45px;
      background: #89C732;
      margin-bottom: 0; }
      .contain-to-grid .top-bar .title-area .name {
        width: 74px;
        height: 25px;
        height: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: -1px 0 0 10px; }
        .contain-to-grid .top-bar .title-area .name a {
          height: 25px;
          width: 74px;
          margin: 0;
          padding: 0;
          text-indent: -9999px;
          background: url(https://webassets.unt.edu/unt-foundation/images/unt_lettermark.svg) center center no-repeat; }
    .contain-to-grid .top-bar .button {
      top: 0px;
      background: #F46F02;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1rem;
      font-size: .8rem;
      height: 1.75rem;
      padding: 7px 0 5px 0; }
      .contain-to-grid .top-bar .button.alert {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        background-color: #F46F02;
        border-color: #F46F02; }
    .contain-to-grid .top-bar .top-bar-section {
      width: 100%;
      -webkit-transition: 0.5s;
      -khtml-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .contain-to-grid .top-bar .top-bar-section .has-form {
        background: transparent; }
        .contain-to-grid .top-bar .top-bar-section .has-form form {
          max-width: 420px;
          margin: 0 auto; }
          .contain-to-grid .top-bar .top-bar-section .has-form form .row.collapse {
            width: 98%; }
      .contain-to-grid .top-bar .top-bar-section li.hast-form {
        background: transparent; }
    .contain-to-grid .top-bar.expanded .top-bar-section {
      z-index: 99; }
      .contain-to-grid .top-bar.expanded .top-bar-section > ul {
        border-bottom: solid 5px #F46F02;
        margin: 0; }
        .contain-to-grid .top-bar.expanded .top-bar-section > ul li {
          margin: 0;
          background: #181818;
          border-bottom: solid 1px #668E68; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.has-form {
            border-bottom: none;
            text-align: center; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.audience {
            background: #89C732; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.title.back {
            background: #0b0b0b; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li a, .contain-to-grid .top-bar.expanded .top-bar-section > ul li a:link, .contain-to-grid .top-bar.expanded .top-bar-section > ul li a:active, .contain-to-grid .top-bar.expanded .top-bar-section > ul li a:visited {
            font-family: "Open Sans", Verdana, sans-serif;
            text-transform: uppercase;
            font-size: 13px;
            font-size: 0.8125em;
            font-size: 0.8125rem;
            text-decoration: none; }
            .contain-to-grid .top-bar.expanded .top-bar-section > ul li a:hover, .contain-to-grid .top-bar.expanded .top-bar-section > ul li a:link:hover, .contain-to-grid .top-bar.expanded .top-bar-section > ul li a:active:hover, .contain-to-grid .top-bar.expanded .top-bar-section > ul li a:visited:hover {
              background: #F46F02; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li > .dropdown {
            border-bottom: solid 5px #F46F02; }
            .contain-to-grid .top-bar.expanded .top-bar-section > ul li > .dropdown li a {
              font-size: 13px !important;
              text-decoration: none;
              padding-top: 12px;
              padding-bottom: 12px; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper .col {
            background: #89C732;
            margin-bottom: 15px; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:link, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:active, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:visited {
            color: #fff;
            font-weight: bold;
            text-align: center;
            font-size: 10px !important;
            padding-top: 35px;
            line-height: 1em;
            text-decoration: none; }
            .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a.email, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:link.email, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:active.email, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:visited.email {
              padding-left: 5px;
              padding-right: 5px; }
            .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a.email::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:link.email::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:active.email::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:visited.email::before {
              color: #fff;
              content: "\f0e0";
              font-family: "FontAwesome";
              left: 50%;
              right: auto;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              position: absolute;
              clear: both;
              top: 15px;
              font-weight: 100;
              font-size: 18px; }
            .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a.map::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:link.map::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:active.map::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:visited.map::before {
              color: #fff;
              content: "\f041";
              font-family: "FontAwesome";
              left: 50%;
              right: auto;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              position: absolute;
              clear: both;
              top: 15px;
              font-weight: 100;
              font-size: 20px; }
            .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a.call::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:link.call::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:active.call::before, .contain-to-grid .top-bar.expanded .top-bar-section > ul li.mm-ctas-wrapper a:visited.call::before {
              color: #fff;
              content: "\f095";
              font-family: "FontAwesome";
              left: 50%;
              right: auto;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              position: absolute;
              clear: both;
              top: 15px;
              font-weight: 100;
              font-size: 20px; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.has-dropdown > a:after {
            border-color: transparent transparent transparent rgba(255, 255, 255, 0.85); }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.has-dropdown ul.right {
            float: right; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.has-dropdown li.title h5 a {
            font-size: 13px !important; }
            .contain-to-grid .top-bar.expanded .top-bar-section > ul li.has-dropdown li.title h5 a::before {
              content: "\f0d9";
              font-family: "FontAwesome";
              color: #6BA786;
              padding-right: 15px; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li:hover:not(.has-form) > a {
            background: #181818; }
          .contain-to-grid .top-bar.expanded .top-bar-section > ul li.audience:hover:not(.has-form) > a {
            background: #89C732; }
      .contain-to-grid .top-bar.expanded .top-bar-section .mm-ctas-wrapper {
        padding: 0 0.9375rem; }
      .contain-to-grid .top-bar.expanded .top-bar-section .mm-ctas {
        max-width: 420px;
        margin: 0 auto;
        display: block;
        clear: both;
        float: none;
        overflow: hidden; }
    .contain-to-grid .top-bar.expanded .toggle-topbar {
      margin-bottom: 0; }
      .contain-to-grid .top-bar.expanded .toggle-topbar a {
        color: #fff; }
        .contain-to-grid .top-bar.expanded .toggle-topbar a span::after {
          box-shadow: 0 0 0 1px #ffffff, 0 7px 0 1px #ffffff, 0 14px 0 1px #ffffff; }
    .contain-to-grid .top-bar.expanded .title-area {
      background: #F46F02; }

@media only screen and (min-width: 770px) {
  body.f-topbar-fixed {
    padding-top: 0; } }

#main-menu {
  margin: 0;
  padding: 0; }
  #main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #main-menu li {
    margin: 0;
    padding: 0;
    display: inline-block; }

.scroll-down {
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  margin-top: -250px;
  color: #C60000 !important;
  border: 2px solid #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  -khtml-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  bottom: 20px;
  text-decoration: none; }
  .scroll-down::before {
    content: "\f0e7";
    font-size: 17px;
    font-size: 1.0625em;
    font-size: 1.0625rem;
    font-family: "FontAwesome";
    box-sizing: border-box;
    text-decoration: none;
    margin-left: 1px;
    margin-top: 1px; }
  @media only screen and (max-width: 769px) {
    .scroll-down {
      display: none; } }
  .scroll-down:hover {
    border-color: #fff;
    text-decoration: none !important; }
    .scroll-down:hover::before {
      text-decoration: none !important; }

.jump-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 0px;
  overflow: hidden;
  z-index: 1100;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -khtml-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transition-timing-function: ease-in; }
  @media only screen and (max-width: 769px) {
    .jump-to-top {
      top: auto;
      bottom: 5px;
      right: 5px; } }
  .jump-to-top a, .jump-to-top a:link, .jump-to-top a:active, .jump-to-top a:visited {
    color: #ddd;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    display: block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background: #89C732;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    line-height: 42px;
    position: relative;
    border: solid 1px rgba(255, 255, 255, 0.9); }
    .jump-to-top a::before, .jump-to-top a:link::before, .jump-to-top a:active::before, .jump-to-top a:visited::before {
      content: "\f106";
      font-family: "FontAwesome";
      color: #fff;
      position: absolute;
      top: -9px;
      font-size: 1.1em;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    @media only screen and (max-width: 769px) {
      .jump-to-top a, .jump-to-top a:link, .jump-to-top a:active, .jump-to-top a:visited {
        font-size: 9px;
        display: block;
        line-height: 32px;
        width: 32px;
        height: 32px;
        background: #89C732;
        -webkit-border-radius: 16px;
        -khtml-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        border-radius: 16px;
        line-height: 38px;
        border: none; } }
    .jump-to-top a span, .jump-to-top a:link span, .jump-to-top a:active span, .jump-to-top a:visited span {
      margin-left: 1px; }
  .jump-to-top a:active, .jump-to-top a:hover {
    color: #fff;
    background: #F46F02; }
  .scrolled .jump-to-top {
    height: 40px; }
    @media only screen and (max-width: 769px) {
      .scrolled .jump-to-top {
        height: 32px; } }

.btn {
  display: inline-block;
  margin: 2px 0; }
  .btn a {
    font-size: 14px;
    font-size: 0.875em;
    font-size: 0.875rem;
    line-height: 1em;
    font-family: "Open Sans", Verdana, sans-serif;
    font-weight: normal;
    border: solid 2px;
    padding: 13px 25px 12px 25px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: 0.25s;
    -khtml-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
    .btn a:hover {
      text-decoration: none; }
    .btn a.rounded {
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
    @media only screen and (max-width: 769px) {
      .btn a {
        font-size: 12px;
        font-size: 0.75em;
        font-size: 0.75rem;
        padding: 11px 20px 10px 20px; } }
    .btn a::after {
      content: "\f054";
      font-family: "FontAwesome";
      font-weight: 100;
      font-size: .9em;
      padding-left: 4px; }
    .btn a.phone::before {
      content: "\f095";
      font-family: "FontAwesome";
      font-weight: 100;
      font-size: 1.1em;
      padding-right: 6px; }
    .btn a.phone::after {
      content: ""; }
    .btn a.pdf::after {
      content: "\f1c1";
      font-size: 1.15em;
      padding-left: 8px; }
    .btn a.email::after {
      content: "\f003";
      font-size: 1.25em;
      padding-left: 8px; }
    .btn a.url {
      text-transform: none; }
  .btn.small a {
    font-size: 10px;
    font-size: 0.625em;
    font-size: 0.625rem;
    padding: 8px 17px 7px 17px; }
    .btn.small a::after {
      font-size: 9px; }
  .btn.btn1.c1 a {
    color: #fff;
    background-color: #89C732;
    border-color: #89C732; }
  .btn.btn1.c1.outline a:hover {
    color: #89C732;
    background-color: transparent; }
  .btn.btn1.c1.altcolor a:hover {
    background: #F46F02;
    border-color: #F46F02; }
  .btn.btn1.c1.gradient a:hover {
    background-color: #89C732;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#89C732), to(#5f8a23));
    background-image: -webkit-linear-gradient(top, #89C732, #5f8a23);
    background-image: -moz-linear-gradient(top, #89C732, #5f8a23);
    background-image: -ms-linear-gradient(top, #89C732, #5f8a23);
    background-image: -o-linear-gradient(top, #89C732, #5f8a23);
    background-image: linear-gradient(top, #89C732, #5f8a23);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#89C732', endColorStr='#5f8a23'); }
  .btn.btn1.c1.opaque a:hover {
    background-color: rgba(137, 199, 50, 0.65); }
  .btn.btn1.c2 a {
    color: #fff;
    background-color: #F46F02;
    border-color: #F46F02; }
  .btn.btn1.c2.outline a:hover {
    color: #F46F02;
    background-color: transparent; }
  .btn.btn1.c2.altcolor a:hover {
    border-color: #89C732;
    background-color: #89C732; }
  .btn.btn1.c2.gradient a:hover {
    background-color: #F46F02;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F46F02), to(#a84c01));
    background-image: -webkit-linear-gradient(top, #F46F02, #a84c01);
    background-image: -moz-linear-gradient(top, #F46F02, #a84c01);
    background-image: -ms-linear-gradient(top, #F46F02, #a84c01);
    background-image: -o-linear-gradient(top, #F46F02, #a84c01);
    background-image: linear-gradient(top, #F46F02, #a84c01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F46F02', endColorStr='#a84c01'); }
  .btn.btn1.c2.opaque a:hover {
    background-color: rgba(244, 111, 2, 0.65); }
  .btn.btn1.gray a {
    color: #fff;
    background-color: #999;
    border-color: #999; }
  .btn.btn1.gray.outline a:hover {
    color: #999;
    color: #333;
    background-color: transparent; }
  .btn.btn1.gray.altcolor a:hover {
    border-color: #F46F02;
    background-color: #F46F02; }
  .btn.btn1.gray.gradient a:hover {
    background-color: #999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#737373));
    background-image: -webkit-linear-gradient(top, #999, #737373);
    background-image: -moz-linear-gradient(top, #999, #737373);
    background-image: -ms-linear-gradient(top, #999, #737373);
    background-image: -o-linear-gradient(top, #999, #737373);
    background-image: linear-gradient(top, #999, #737373);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999', endColorStr='#737373'); }
  .btn.btn1.gray.opaque a:hover {
    background-color: rgba(153, 153, 153, 0.65); }
  .btn.btn2.c1 a {
    color: #89C732;
    background-color: transparent;
    border-color: #89C732; }
  .btn.btn2.c1.solid a:hover {
    color: #fff;
    background-color: #89C732; }
  .btn.btn2.c1.altcolor a:hover {
    color: #F46F02;
    border-color: #F46F02; }
  .btn.btn2.c1.gradient a:hover {
    color: #fff;
    background-color: #89C732;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#89C732), to(#5f8a23));
    background-image: -webkit-linear-gradient(top, #89C732, #5f8a23);
    background-image: -moz-linear-gradient(top, #89C732, #5f8a23);
    background-image: -ms-linear-gradient(top, #89C732, #5f8a23);
    background-image: -o-linear-gradient(top, #89C732, #5f8a23);
    background-image: linear-gradient(top, #89C732, #5f8a23);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#89C732', endColorStr='#5f8a23'); }
  .btn.btn2.c1.opaque a:hover {
    color: #fff;
    background: rgba(137, 199, 50, 0.8); }
  .btn.btn2.c2 a {
    color: #F46F02;
    background-color: transparent;
    border-color: #F46F02; }
  .btn.btn2.c2.solid a:hover {
    color: #fff;
    background-color: #F46F02; }
  .btn.btn2.c2.altcolor a:hover {
    color: #89C732;
    border-color: #89C732; }
  .btn.btn2.c2.gradient a:hover {
    color: #fff;
    background-color: #F46F02;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F46F02), to(#a84c01));
    background-image: -webkit-linear-gradient(top, #F46F02, #a84c01);
    background-image: -moz-linear-gradient(top, #F46F02, #a84c01);
    background-image: -ms-linear-gradient(top, #F46F02, #a84c01);
    background-image: -o-linear-gradient(top, #F46F02, #a84c01);
    background-image: linear-gradient(top, #F46F02, #a84c01);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F46F02', endColorStr='#a84c01'); }
  .btn.btn2.c2.opaque a:hover {
    color: #fff;
    background: rgba(244, 111, 2, 0.8); }
  .btn.btn2.gray a {
    color: #999;
    background-color: transparent;
    border-color: #999; }
  .btn.btn2.gray.solid a:hover {
    color: #fff;
    background-color: #999; }
  .btn.btn2.white a {
    color: #fffffe;
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
  .btn.btn2.white.solid a:hover {
    color: #F46F02;
    background-color: #fff; }
  .btn.btn2.black a {
    color: #181818;
    background-color: transparent;
    border-color: rgba(24, 24, 24, 0.99);
    border-color: #181818; }
  .btn.btn2.black.solid a:hover {
    color: #fff;
    background-color: #181818; }
  .btn.btn2.light-gray a {
    color: #efefef;
    background-color: transparent;
    border-color: #efefef;
    background-color: rgba(0, 0, 0, 0.35); }
  .btn.btn2.light-gray.solid a:hover {
    color: #89C732;
    background-color: #fff;
    border-color: #fff; }

.btn-group {
  width: 100%;
  clear: both;
  display: block;
  overflow: hidden; }
  .btn-group .btn {
    margin: 0 1em 0 0;
    display: inline-block; }
    @media only screen and (max-width: 769px) {
      .btn-group .btn {
        margin-bottom: 1em; } }

.bap,
.bap-panel {
  position: relative;
  padding: 0;
  overflow: hidden;
  background-size: cover; }
  @media only screen and (max-width: 769px) {
    .bap,
    .bap-panel {
      overflow: visible; } }
  @media only screen and (max-width: 769px) {
    .bap,
    .bap-panel {
      margin: 0; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    .bap,
    .bap-panel {
      height: 420px; }
      .bap.short_bap,
      .bap-panel.short_bap {
        height: 210px; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    .bap,
    .bap-panel {
      height: 520px; }
      .bap.short_bap,
      .bap-panel.short_bap {
        height: 280px; } }
  @media only screen and (min-width: 1200px) {
    .bap,
    .bap-panel {
      height: 565px; }
      .bap.short_bap,
      .bap-panel.short_bap {
        height: 260px; } }
  @media only screen and (min-width: 1440px) {
    .bap,
    .bap-panel {
      height: 685px; }
      .bap.short_bap,
      .bap-panel.short_bap {
        height: 340px; } }
  @media only screen and (min-width: 1666px) {
    .bap,
    .bap-panel {
      height: 720px; }
      .bap.short_bap,
      .bap-panel.short_bap {
        height: 360px; } }
  @media only screen and (min-width: 1920px) {
    .bap,
    .bap-panel {
      height: 800px; }
      .bap.short_bap,
      .bap-panel.short_bap {
        height: 400px; } }
  .bap .bap-wrapper,
  .bap-panel .bap-wrapper {
    width: 100%;
    height: 100%;
    position: relative; }
    @media only screen and (max-width: 769px) {
      .bap .bap-wrapper,
      .bap-panel .bap-wrapper {
        min-height: 325px;
        margin-bottom: 100px; }
        .bap .bap-wrapper .box,
        .bap-panel .bap-wrapper .box {
          min-height: 325px;
          overflow: visible; }
        .bap .bap-wrapper .row,
        .bap-panel .bap-wrapper .row {
          min-height: 325px; } }
    .bap .bap-wrapper .bap-wrapper-overlay,
    .bap-panel .bap-wrapper .bap-wrapper-overlay {
      height: 100%; }
      .bap .bap-wrapper .bap-wrapper-overlay .box,
      .bap-panel .bap-wrapper .bap-wrapper-overlay .box {
        height: 100%; }
        @media (min-width: 1550px) {
          .bap .bap-wrapper .bap-wrapper-overlay .box,
          .bap-panel .bap-wrapper .bap-wrapper-overlay .box {
            width: 75%;
            height: 100%; } }
        .bap .bap-wrapper .bap-wrapper-overlay .box .row,
        .bap-panel .bap-wrapper .bap-wrapper-overlay .box .row {
          width: 100%;
          height: 100%;
          max-width: 1600px;
          position: relative; }
          @media only screen and (min-width: 770px) {
            .bap .bap-wrapper .bap-wrapper-overlay .box .row .col,
            .bap-panel .bap-wrapper .bap-wrapper-overlay .box .row .col {
              margin: 0 auto;
              padding: 0; } }
  .bap .overlay,
  .bap-panel .overlay {
    width: 100%;
    position: absolute; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .bap .overlay.over-top,
      .bap-panel .overlay.over-top {
        top: 20px;
        bottom: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .bap .overlay.over-top,
      .bap-panel .overlay.over-top {
        top: 30px;
        bottom: auto; } }
    @media only screen and (min-width: 1200px) {
      .bap .overlay.over-top,
      .bap-panel .overlay.over-top {
        top: 40px;
        bottom: auto; } }
    .bap .overlay.over-middle,
    .bap-panel .overlay.over-middle {
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .bap .overlay.over-bottom,
      .bap-panel .overlay.over-bottom {
        bottom: 15px;
        top: auto; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .bap .overlay.over-bottom,
      .bap-panel .overlay.over-bottom {
        bottom: 20px;
        top: auto; } }
    @media only screen and (min-width: 1200px) {
      .bap .overlay.over-bottom,
      .bap-panel .overlay.over-bottom {
        bottom: 30px;
        top: auto; } }
    .bap .overlay .main-text.text-left,
    .bap-panel .overlay .main-text.text-left {
      text-align: left; }
    .bap .overlay .main-text.text-center,
    .bap-panel .overlay .main-text.text-center {
      text-align: center; }
      @media only screen and (max-width: 769px) {
        .bap .overlay .main-text.text-center,
        .bap-panel .overlay .main-text.text-center {
          text-align: left !important; } }
    .bap .overlay .main-text.text-right,
    .bap-panel .overlay .main-text.text-right {
      text-align: right; }
      @media only screen and (max-width: 769px) {
        .bap .overlay .main-text.text-right,
        .bap-panel .overlay .main-text.text-right {
          text-align: left !important; } }
    .bap .overlay h3.headline,
    .bap-panel .overlay h3.headline {
      color: #fff;
      font-family: "Open Sans Condensed", sans-serif;
      color: #fff;
      text-shadow: 0 0 10px #000;
      margin-bottom: .25em;
      font-size: 32px;
      font-size: 2em;
      font-size: 2rem;
      line-height: 36px;
      margin-top: 0; }
      @media only screen and (max-width: 769px) {
        .bap .overlay h3.headline,
        .bap-panel .overlay h3.headline {
          font-size: 24px;
          font-size: 1.5em;
          font-size: 1.5rem;
          line-height: 24px;
          margin-top: 0; } }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        .bap .overlay h3.headline,
        .bap-panel .overlay h3.headline {
          font-size: 36px;
          font-size: 2.25em;
          font-size: 2.25rem;
          line-height: 40px; } }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        .bap .overlay h3.headline,
        .bap-panel .overlay h3.headline {
          font-size: 48px;
          font-size: 3em;
          font-size: 3rem;
          line-height: 56px; } }
      @media only screen and (min-width: 1200px) {
        .bap .overlay h3.headline,
        .bap-panel .overlay h3.headline {
          font-size: 64px;
          font-size: 4em;
          font-size: 4rem;
          line-height: 68px; } }
    .bap .overlay p.deck,
    .bap-panel .overlay p.deck {
      color: #fff;
      font-weight: bold;
      text-shadow: 0 0 10px #000; }
      @media only screen and (max-width: 769px) {
        .bap .overlay p.deck,
        .bap-panel .overlay p.deck {
          font-size: 14px;
          font-size: 0.875em;
          font-size: 0.875rem;
          line-height: 18px;
          margin-bottom: 15px; } }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        .bap .overlay p.deck,
        .bap-panel .overlay p.deck {
          font-size: 16px;
          font-size: 1em;
          font-size: 1rem;
          line-height: 20px; } }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        .bap .overlay p.deck,
        .bap-panel .overlay p.deck {
          font-size: 20px;
          font-size: 1.25em;
          font-size: 1.25rem;
          line-height: 26px; } }
      @media only screen and (min-width: 1200px) {
        .bap .overlay p.deck,
        .bap-panel .overlay p.deck {
          font-size: 24px;
          font-size: 1.5em;
          font-size: 1.5rem;
          line-height: 30px; } }
    .bap .overlay .btn,
    .bap-panel .overlay .btn {
      margin-right: 5px; }
      @media only screen and (max-width: 769px) {
        .bap .overlay .btn a,
        .bap-panel .overlay .btn a {
          font-size: 10px;
          padding: 7px 10px 6px 10px; } }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        .bap .overlay .btn a,
        .bap-panel .overlay .btn a {
          font-size: 12px;
          padding: 8px 15px 7px 15px; } }
    @media only screen and (max-width: 769px) {
      .bap .overlay,
      .bap-panel .overlay {
        height: auto;
        top: inherit !important;
        right: inherit !important;
        bottom: inherit !important;
        left: inherit !important;
        position: inherit !important;
        -webkit-transform: none !important;
        -khtml-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        position: absolute !important;
        overflow: hidden;
        bottom: -100px !important; }
        .bap .overlay.over-top, .bap .overlay.over-middle, .bap .overlay.over-bottom,
        .bap-panel .overlay.over-top,
        .bap-panel .overlay.over-middle,
        .bap-panel .overlay.over-bottom {
          height: auto;
          top: inherit !important;
          right: inherit !important;
          bottom: inherit !important;
          left: inherit !important;
          position: inherit !important;
          -webkit-transform: none !important;
          -khtml-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -o-transform: none !important;
          transform: none !important;
          position: absolute !important;
          overflow: hidden;
          bottom: -100px !important; }
        .bap .overlay .main-text,
        .bap-panel .overlay .main-text {
          background: rgba(24, 24, 24, 0.9); } }
  .bap .add-features,
  .bap-panel .add-features {
    position: absolute;
    bottom: 0;
    right: 0; }
    @media only screen and (max-width: 769px) {
      .bap .add-features,
      .bap-panel .add-features {
        position: relative;
        bottom: auto;
        right: auto;
        padding: 0;
        margin-bottom: 0; } }
  .bap .add-feature,
  .bap-panel .add-feature {
    width: 47.5%;
    height: 133px;
    margin-left: 2.5%;
    border: solid 3px #fff;
    display: block;
    float: left;
    position: relative;
    background-size: cover; }
    @media only screen and (max-width: 769px) {
      .bap .add-feature,
      .bap-panel .add-feature {
        width: 48.5%;
        margin: 0 1.5% 0 0;
        text-decoration: none; } }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .bap .add-feature,
      .bap-panel .add-feature {
        height: 110px; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .bap .add-feature,
      .bap-panel .add-feature {
        height: 135px; } }
    @media only screen and (min-width: 1200px) {
      .bap .add-feature,
      .bap-panel .add-feature {
        height: 160px; } }
    .bap .add-feature .add-feature-overlay,
    .bap-panel .add-feature .add-feature-overlay {
      position: absolute;
      bottom: 5px;
      display: block;
      padding: 8px;
      color: #fff;
      text-decoration: none;
      background: rgba(24, 24, 24, 0.5);
      font-size: 14px;
      font-size: 0.875em;
      font-size: 0.875rem;
      line-height: 15px;
      width: 100%;
      text-align: left; }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        .bap .add-feature .add-feature-overlay,
        .bap-panel .add-feature .add-feature-overlay {
          font-size: 13px;
          font-size: 0.8125em;
          font-size: 0.8125rem; } }
      @media only screen and (max-width: 769px) {
        .bap .add-feature .add-feature-overlay,
        .bap-panel .add-feature .add-feature-overlay {
          font-size: 12px;
          font-size: 0.75em;
          font-size: 0.75rem; } }
    .bap .add-feature:hover .add-feature-overlay,
    .bap-panel .add-feature:hover .add-feature-overlay {
      background: #181818; }
  .bap .box.features,
  .bap-panel .box.features {
    position: absolute;
    display: block;
    bottom: 1rem;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .bap .box.features .add-feature,
    .bap-panel .box.features .add-feature {
      float: none;
      max-width: 275px;
      margin-bottom: -5px;
      display: inline-block; }
    .bap .box.features.left-copy,
    .bap-panel .box.features.left-copy {
      height: calc(100% - 1rem); }
      .bap .box.features.left-copy .row,
      .bap-panel .box.features.left-copy .row {
        height: calc(100% - 1rem); }
      .bap .box.features.left-copy .overlay,
      .bap-panel .box.features.left-copy .overlay {
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute; }
      .bap .box.features.left-copy .main-text,
      .bap-panel .box.features.left-copy .main-text {
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0; }
        .bap .box.features.left-copy .main-text .inside,
        .bap-panel .box.features.left-copy .main-text .inside {
          padding-right: 2rem; }
      .bap .box.features.left-copy .add-features,
      .bap-panel .box.features.left-copy .add-features {
        width: 50%;
        position: absolute;
        left: auto;
        right: 0;
        text-align: right; }
        .bap .box.features.left-copy .add-features .add-feature,
        .bap-panel .box.features.left-copy .add-features .add-feature {
          margin-left: 2.5%;
          margin-right: 0; }
    .bap .box.features.right-copy,
    .bap-panel .box.features.right-copy {
      height: calc(100% - 1rem); }
      .bap .box.features.right-copy .row,
      .bap-panel .box.features.right-copy .row {
        height: calc(100% - 1rem); }
      .bap .box.features.right-copy .overlay,
      .bap-panel .box.features.right-copy .overlay {
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute; }
      .bap .box.features.right-copy .main-text,
      .bap-panel .box.features.right-copy .main-text {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        text-align: right; }
        .bap .box.features.right-copy .main-text .btn,
        .bap-panel .box.features.right-copy .main-text .btn {
          margin-right: 0;
          margin-left: 5px; }
        .bap .box.features.right-copy .main-text .inside,
        .bap-panel .box.features.right-copy .main-text .inside {
          padding-left: 2rem; }
      .bap .box.features.right-copy .add-features,
      .bap-panel .box.features.right-copy .add-features {
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: auto;
        text-align: left; }
        .bap .box.features.right-copy .add-features .add-feature,
        .bap-panel .box.features.right-copy .add-features .add-feature {
          margin-left: 0;
          margin-right: 2.5%; }
    .bap .box.features.left-stacked,
    .bap-panel .box.features.left-stacked {
      height: auto; }
      .bap .box.features.left-stacked .row,
      .bap-panel .box.features.left-stacked .row {
        height: auto; }
      .bap .box.features.left-stacked .overlay,
      .bap-panel .box.features.left-stacked .overlay {
        position: relative;
        height: auto;
        width: 75%;
        display: inline-block; }
      .bap .box.features.left-stacked .main-text,
      .bap-panel .box.features.left-stacked .main-text {
        width: 100%;
        float: none;
        display: block; }
      .bap .box.features.left-stacked .add-features,
      .bap-panel .box.features.left-stacked .add-features {
        position: relative;
        display: block;
        width: 100%;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        float: none;
        padding-top: 2rem; }
    .bap .box.features.center,
    .bap-panel .box.features.center {
      height: auto; }
      .bap .box.features.center .row,
      .bap-panel .box.features.center .row {
        height: auto; }
      .bap .box.features.center .overlay,
      .bap-panel .box.features.center .overlay {
        position: relative;
        height: auto;
        width: 100%;
        display: inline-block; }
      .bap .box.features.center .main-text,
      .bap-panel .box.features.center .main-text {
        width: 100%;
        float: none;
        display: block;
        text-align: center; }
      .bap .box.features.center .add-features,
      .bap-panel .box.features.center .add-features {
        position: relative;
        display: block;
        width: 100%;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        float: none;
        padding-top: 1rem;
        padding-top: 2rem;
        text-align: center; }
        .bap .box.features.center .add-features .add-feature,
        .bap-panel .box.features.center .add-features .add-feature {
          margin-left: 0;
          margin: 0 1.25%; }
    .bap .box.features.right-stacked,
    .bap-panel .box.features.right-stacked {
      height: auto; }
      .bap .box.features.right-stacked .row,
      .bap-panel .box.features.right-stacked .row {
        height: auto; }
      .bap .box.features.right-stacked .overlay,
      .bap-panel .box.features.right-stacked .overlay {
        position: relative;
        height: auto;
        width: 75%;
        display: inline-block;
        float: right; }
      .bap .box.features.right-stacked .main-text,
      .bap-panel .box.features.right-stacked .main-text {
        width: 100%;
        float: none;
        display: block;
        text-align: right; }
        .bap .box.features.right-stacked .main-text .btn,
        .bap-panel .box.features.right-stacked .main-text .btn {
          margin-right: 0;
          margin-left: 5px; }
      .bap .box.features.right-stacked .add-features,
      .bap-panel .box.features.right-stacked .add-features {
        position: relative;
        display: block;
        width: 100%;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        float: none;
        text-align: right;
        padding-top: 2rem; }
        .left-stacked .bap .box.features.right-stacked .add-features .add-feature, .left-copy .bap .box.features.right-stacked .add-features .add-feature, .left-stacked
        .bap-panel .box.features.right-stacked .add-features .add-feature, .left-copy
        .bap-panel .box.features.right-stacked .add-features .add-feature {
          margin-right: 2.5%;
          margin-left: 0; }
        .right-stacked .bap .box.features.right-stacked .add-features .add-feature, .right-copy .bap .box.features.right-stacked .add-features .add-feature, .right-stacked
        .bap-panel .box.features.right-stacked .add-features .add-feature, .right-copy
        .bap-panel .box.features.right-stacked .add-features .add-feature {
          margin-right: 0;
          margin-left: 2.5%; }
        .features.center .bap .box.features.right-stacked .add-features .add-feature, .features.center
        .bap-panel .box.features.right-stacked .add-features .add-feature {
          margin-left: 1.25%;
          margin-right: 1.25%; }
  @media only screen and (max-width: 769px) {
    .bap .bap-wrapper-overlay,
    .bap-panel .bap-wrapper-overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0; }
    .bap .box.standard, .bap .box.features,
    .bap-panel .box.standard,
    .bap-panel .box.features {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: inherit !important;
      right: inherit !important;
      bottom: inherit !important;
      left: inherit !important;
      position: inherit !important;
      -webkit-transform: none !important;
      -khtml-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
      transform: none !important; }
      .bap .box.standard.left-copy, .bap .box.standard.left-stacked, .bap .box.standard.center, .bap .box.standard.right-copy, .bap .box.standard.right-stacked, .bap .box.features.left-copy, .bap .box.features.left-stacked, .bap .box.features.center, .bap .box.features.right-copy, .bap .box.features.right-stacked,
      .bap-panel .box.standard.left-copy,
      .bap-panel .box.standard.left-stacked,
      .bap-panel .box.standard.center,
      .bap-panel .box.standard.right-copy,
      .bap-panel .box.standard.right-stacked,
      .bap-panel .box.features.left-copy,
      .bap-panel .box.features.left-stacked,
      .bap-panel .box.features.center,
      .bap-panel .box.features.right-copy,
      .bap-panel .box.features.right-stacked {
        height: 100%; }
        .bap .box.standard.left-copy .row, .bap .box.standard.left-stacked .row, .bap .box.standard.center .row, .bap .box.standard.right-copy .row, .bap .box.standard.right-stacked .row, .bap .box.features.left-copy .row, .bap .box.features.left-stacked .row, .bap .box.features.center .row, .bap .box.features.right-copy .row, .bap .box.features.right-stacked .row,
        .bap-panel .box.standard.left-copy .row,
        .bap-panel .box.standard.left-stacked .row,
        .bap-panel .box.standard.center .row,
        .bap-panel .box.standard.right-copy .row,
        .bap-panel .box.standard.right-stacked .row,
        .bap-panel .box.features.left-copy .row,
        .bap-panel .box.features.left-stacked .row,
        .bap-panel .box.features.center .row,
        .bap-panel .box.features.right-copy .row,
        .bap-panel .box.features.right-stacked .row {
          height: 100%; }
        .bap .box.standard.left-copy .overlay, .bap .box.standard.left-stacked .overlay, .bap .box.standard.center .overlay, .bap .box.standard.right-copy .overlay, .bap .box.standard.right-stacked .overlay, .bap .box.features.left-copy .overlay, .bap .box.features.left-stacked .overlay, .bap .box.features.center .overlay, .bap .box.features.right-copy .overlay, .bap .box.features.right-stacked .overlay,
        .bap-panel .box.standard.left-copy .overlay,
        .bap-panel .box.standard.left-stacked .overlay,
        .bap-panel .box.standard.center .overlay,
        .bap-panel .box.standard.right-copy .overlay,
        .bap-panel .box.standard.right-stacked .overlay,
        .bap-panel .box.features.left-copy .overlay,
        .bap-panel .box.features.left-stacked .overlay,
        .bap-panel .box.features.center .overlay,
        .bap-panel .box.features.right-copy .overlay,
        .bap-panel .box.features.right-stacked .overlay {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%; }
          .bap .box.standard.left-copy .overlay .main-text, .bap .box.standard.left-stacked .overlay .main-text, .bap .box.standard.center .overlay .main-text, .bap .box.standard.right-copy .overlay .main-text, .bap .box.standard.right-stacked .overlay .main-text, .bap .box.features.left-copy .overlay .main-text, .bap .box.features.left-stacked .overlay .main-text, .bap .box.features.center .overlay .main-text, .bap .box.features.right-copy .overlay .main-text, .bap .box.features.right-stacked .overlay .main-text,
          .bap-panel .box.standard.left-copy .overlay .main-text,
          .bap-panel .box.standard.left-stacked .overlay .main-text,
          .bap-panel .box.standard.center .overlay .main-text,
          .bap-panel .box.standard.right-copy .overlay .main-text,
          .bap-panel .box.standard.right-stacked .overlay .main-text,
          .bap-panel .box.features.left-copy .overlay .main-text,
          .bap-panel .box.features.left-stacked .overlay .main-text,
          .bap-panel .box.features.center .overlay .main-text,
          .bap-panel .box.features.right-copy .overlay .main-text,
          .bap-panel .box.features.right-stacked .overlay .main-text {
            text-align: left;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0 2% calc(100vw * .02) 2%;
            padding: 10px;
            width: 96%; }
            .bap .box.standard.left-copy .overlay .main-text .inside, .bap .box.standard.left-stacked .overlay .main-text .inside, .bap .box.standard.center .overlay .main-text .inside, .bap .box.standard.right-copy .overlay .main-text .inside, .bap .box.standard.right-stacked .overlay .main-text .inside, .bap .box.features.left-copy .overlay .main-text .inside, .bap .box.features.left-stacked .overlay .main-text .inside, .bap .box.features.center .overlay .main-text .inside, .bap .box.features.right-copy .overlay .main-text .inside, .bap .box.features.right-stacked .overlay .main-text .inside,
            .bap-panel .box.standard.left-copy .overlay .main-text .inside,
            .bap-panel .box.standard.left-stacked .overlay .main-text .inside,
            .bap-panel .box.standard.center .overlay .main-text .inside,
            .bap-panel .box.standard.right-copy .overlay .main-text .inside,
            .bap-panel .box.standard.right-stacked .overlay .main-text .inside,
            .bap-panel .box.features.left-copy .overlay .main-text .inside,
            .bap-panel .box.features.left-stacked .overlay .main-text .inside,
            .bap-panel .box.features.center .overlay .main-text .inside,
            .bap-panel .box.features.right-copy .overlay .main-text .inside,
            .bap-panel .box.features.right-stacked .overlay .main-text .inside {
              padding: 0 1rem; }
            .bap .box.standard.left-copy .overlay .main-text .btn, .bap .box.standard.left-stacked .overlay .main-text .btn, .bap .box.standard.center .overlay .main-text .btn, .bap .box.standard.right-copy .overlay .main-text .btn, .bap .box.standard.right-stacked .overlay .main-text .btn, .bap .box.features.left-copy .overlay .main-text .btn, .bap .box.features.left-stacked .overlay .main-text .btn, .bap .box.features.center .overlay .main-text .btn, .bap .box.features.right-copy .overlay .main-text .btn, .bap .box.features.right-stacked .overlay .main-text .btn,
            .bap-panel .box.standard.left-copy .overlay .main-text .btn,
            .bap-panel .box.standard.left-stacked .overlay .main-text .btn,
            .bap-panel .box.standard.center .overlay .main-text .btn,
            .bap-panel .box.standard.right-copy .overlay .main-text .btn,
            .bap-panel .box.standard.right-stacked .overlay .main-text .btn,
            .bap-panel .box.features.left-copy .overlay .main-text .btn,
            .bap-panel .box.features.left-stacked .overlay .main-text .btn,
            .bap-panel .box.features.center .overlay .main-text .btn,
            .bap-panel .box.features.right-copy .overlay .main-text .btn,
            .bap-panel .box.features.right-stacked .overlay .main-text .btn {
              margin-left: 0;
              margin-right: 5px; } }

#mobile-add-features {
  display: block;
  background: #181818; }
  #mobile-add-features #mobile-feature-wrapper {
    margin: 10px 5px; }
  @media only screen and (min-width: 770px) {
    #mobile-add-features {
      display: none; } }
  @media only screen and (max-width: 769px) {
    #mobile-add-features .add-feature:last-child {
      margin-right: 0;
      margin-left: 1.5%; } }

.alert-box a {
  color: #fff;
  text-decoration: none; }

.reveal-modal-bg {
  height: 100%; }

.reveal-modal, dialog {
  z-index: 1005; }

ul.accordion {
  margin-left: 0px; }

.orbit-container .orbit-next,
.orbit-container .orbit-prev {
  margin-bottom: 0;
  display: block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background: transparent;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px; }
  .orbit-container .orbit-next span,
  .orbit-container .orbit-prev span {
    border: none;
    outline: none;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    position: inherit;
    margin-top: 0;
    margin: 0;
    display: block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: transparent;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }
  .orbit-container .orbit-next:hover,
  .orbit-container .orbit-prev:hover {
    background-color: transparent; }

.orbit-container .orbit-prev span {
  background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-prev.png) center center no-repeat;
  background-color: transparent;
  background-size: cover; }
  .orbit-container .orbit-prev span:hover {
    background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-prev-hover.png) center center no-repeat;
    background-color: transparent;
    background-size: cover; }

.orbit-container .orbit-next span {
  background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-next.png) center center no-repeat;
  background-color: transparent;
  background-size: cover; }
  .orbit-container .orbit-next span:hover {
    background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-next-hover.png) center center no-repeat;
    background-color: transparent;
    background-size: cover; }

@media only screen and (max-width: 769px) {
  .split-right {
    margin-bottom: 0;
    padding-bottom: 0; }
    .split-right ul, .split-right ol {
      margin-bottom: 0;
      padding-bottom: 0; }
  .split-middle {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
    .split-middle ul, .split-middle ol {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
  .split-right {
    margin-top: 0;
    padding-top: 0; }
    .split-right ul, .split-right ol {
      margin-top: 0;
      padding-top: 0; } }

.section-panel {
  padding: 3rem 0; }
  @media only screen and (max-width: 769px) {
    .section-panel {
      padding: 2rem 0; } }

.section-first {
  padding: 3rem 0 0 0; }
  @media only screen and (max-width: 769px) {
    .section-first {
      padding: 2rem 0 0 0; } }

.section-last {
  padding: 0 0 3rem 0; }
  @media only screen and (max-width: 769px) {
    .section-last {
      padding: 0 0 2rem 0; } }

.dark-panel {
  color: #fff; }
  .dark-panel div, .dark-panel p, .dark-panel ul, .dark-panel ol, .dark-panel blockquote {
    color: #fff; }
  .dark-panel h1, .dark-panel h2, .dark-panel h3, .dark-panel h4, .dark-panel h5, .dark-panel h6 {
    color: #efefef; }

.insetBorder {
  outline: 5px solid rgba(255, 255, 255, 0.5);
  outline-offset: -5px; }
  .insetBorder.white {
    outline-color: rgba(255, 255, 255, 0.5); }

.flex-container {
  display: flex; }
  .flex-container .tab {
    flex: 1;
    text-align: center;
    display: block;
    margin: 0 0 0 1px; }

.img-left {
  display: block;
  float: left; }
  @media only screen and (min-width: 980px) {
    .img-left {
      width: 40%;
      margin: 0.5rem 1.75rem 1.75rem 0.5rem; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    .img-left {
      width: 50%;
      margin: 0.5rem 1.75rem 1.75rem 0.5rem; } }
  @media only screen and (max-width: 769px) {
    .img-left {
      width: 100%;
      max-width: 520px;
      margin: 0 0 1rem 0; } }

.img-right {
  display: block;
  float: right; }
  @media only screen and (min-width: 980px) {
    .img-right {
      width: 40%;
      margin: 0.5rem 0.5rem 1.75rem 1.75rem; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    .img-right {
      width: 50%;
      margin: 0.5rem 0.5rem 1.75rem 1.75rem; } }
  @media only screen and (max-width: 769px) {
    .img-right {
      width: 100%;
      max-width: 520px;
      margin: 0 0 1rem 0; } }

#___gcse_0 {
  margin-top: 3rem; }
  #___gcse_0 .gsc-control-cse {
    padding: 0;
    border: none; }
    #___gcse_0 .gsc-control-cse .gsc-results {
      width: 100%; }
    #___gcse_0 .gsc-control-cse .gcsc-branding {
      padding: 5px 0 2em 0; }
    #___gcse_0 .gsc-control-cse .gsc-webResult.gsc-result {
      padding: 1em 0; }
    #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside {
      padding: 0; }
      #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside .gs-title {
        font-weight: bold; }
        #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside .gs-title a, #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside .gs-title a:link, #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside .gs-title a:active, #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside .gs-title a:visited {
          color: #89C732; }
        #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside .gs-title a:active, #___gcse_0 .gsc-control-cse .gsc-thumbnail-inside .gs-title a:hover {
          color: #181818; }
    #___gcse_0 .gsc-control-cse .gsc-url-top .gs-result .gs-visibleUrl {
      color: #181818; }
    #___gcse_0 .gsc-control-cse table.gsc-table-result {
      border: none; }

#mobile-app {
  display: none; }

@media only screen and (min-width: 770px) {
  aside.sidebar-first.columns {
    padding-left: 0; }
  aside.sidebar-second.columns {
    padding-right: 0; } }

@media only screen and (min-width: 1200px) {
  .one-sidebar.sidebar-first aside.sidebar-first {
    padding-left: 0;
    padding-right: 3rem; }
  .one-sidebar.sidebar-first .main.columns {
    padding-left: 1rem; }
  .one-sidebar.sidebar-second aside.sidebar-second {
    padding-left: 3rem;
    padding-right: 0; }
  .one-sidebar.sidebar-second .main.columns {
    padding-right: 1rem; }
  .two-sidebars aside.sidebar-first {
    padding-right: 3rem; }
  .two-sidebars aside.sidebar-second {
    padding-left: 3rem; }
  .two-sidebars .main.columns {
    padding: 0; } }

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  .one-sidebar.sidebar-first aside.sidebar-first {
    padding-left: 0;
    padding-right: 2rem; }
  .one-sidebar.sidebar-first .main.columns {
    padding-left: 0.5rem; }
  .one-sidebar.sidebar-second aside.sidebar-second {
    padding-left: 2rem;
    padding-right: 0; }
  .one-sidebar.sidebar-second .main.columns {
    padding-right: 0.5rem; }
  .two-sidebars aside.sidebar-first {
    padding-left: 0;
    padding-right: 1rem; }
  .two-sidebars aside.sidebar-second {
    padding-left: 1rem;
    padding-right: 0; }
  .two-sidebars .main.columns {
    padding: 0 0.5rem; } }

@media only screen and (min-width: 770px) and (max-width: 979px) {
  .one-sidebar.sidebar-first aside.sidebar-first {
    padding-left: 0;
    padding-right: 1.5rem; }
  .one-sidebar.sidebar-first .main.columns {
    padding-left: 0; }
  .one-sidebar.sidebar-second aside.sidebar-second {
    padding-left: 1.5rem;
    padding-right: 0; }
  .one-sidebar.sidebar-second .main.columns {
    padding-right: 0; }
  .two-sidebars aside.sidebar-first {
    padding-left: 0;
    padding-right: 0.5rem; }
  .two-sidebars aside.sidebar-second {
    padding-left: 0.5rem;
    padding-right: 0; }
  .two-sidebars .main.columns {
    padding: 0 0.25rem; } }

#breadcrumbs {
  padding: 2rem 0 0 0; }

#hero-feature .slick-prev, #hero-feature .slick-next {
  z-index: 1; }
  #hero-feature .slick-prev:before, #hero-feature .slick-next:before {
    font-size: 25px; }

#hero-feature .slick-prev {
  left: 25px; }

#hero-feature .slick-next {
  right: 25px; }

body {
  margin: 0;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  background: url(../images/lazy-rodeo-1.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

h3 {
  color: #fff;
  margin: 0 0 5px 0; }

ul, ol {
  margin: 0;
  padding: 0 0 1.5em 40px; }

li {
  line-height: 1.35em;
  margin: 0 0 .5em 0; }

a {
  cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important; }

.lazydc {
  position: relative; }
  .lazydc .wrapper {
    height: 100vh;
    background: rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 769px) {
      .lazydc .wrapper {
        height: 65vh; } }
    @media only screen and (max-width: 520px) {
      .lazydc .wrapper {
        height: 40vh; } }

.top-logo {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .top-logo img {
    width: 100%; }

.detes {
  font-size: .7em; }

.the-band {
  background: url(/images/black-tolex.jpg) #323131; }
  .the-band .piping {
    padding: 5em 0; }
  .the-band .piping-top {
    background: url(../images/shade-top.png) top center repeat-x; }
  .the-band .piping-bottom {
    background: url(../images/shade-bottom.png) bottom center repeat-x; }
  .the-band h2.title {
    color: #fff;
    font-weight: 600; }
    .the-band h2.title span {
      display: none; }
      @media (max-width: 767px) {
        .the-band h2.title span {
          display: inherit;
          height: 1px; } }
  .the-band .bio {
    font-size: 17px;
    font-size: 1.0625em;
    font-size: 1.0625rem;
    font-weight: 500; }
  .the-band .member {
    text-align: center; }
    .the-band .member img {
      width: 80%;
      border: solid 2px #fff;
      -webkit-transition: 0.5s;
      -khtml-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important; }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        .the-band .member img {
          width: 90%; } }
      @media only screen and (max-width: 769px) {
        .the-band .member img {
          width: 100%; } }
      .the-band .member img:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    .the-band .member p {
      font-size: 2rem;
      font-weight: 100;
      margin: 30px 0 2em 0;
      font-family: "Open Sans Condensed", sans-serif;
      text-transform: uppercase;
      line-height: 1.75rem; }
      .the-band .member p span {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 1px;
        display: block;
        line-height: 1.25em;
        padding-top: 1rem; }

.media .wrapper {
  background: rgba(0, 0, 0, 0.65); }

.media .col {
  background: transparent; }
  .media .col.players {
    margin: 5rem auto; }
  .media .col .player {
    padding: 1em 1.5em .5em 1.5em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 1rem; }
    .media .col .player:last-child {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      .media .col .player {
        padding: 1.5em; } }
    .media .col .player h3 {
      text-align: center;
      font-size: 32px;
      font-size: 2em;
      font-size: 2rem;
      line-height: 2.375rem;
      font-weight: 100; }

.media audio {
  display: block;
  clear: both;
  margin: 1em auto;
  background: #f00;
  width: 100%;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important; }

.media .download {
  font-size: .7em;
  margin: 5px 0 0 0; }

i.fa.fa-bolt {
  color: #f00;
  color: rgba(255, 0, 0, 0.75); }

.setlist h3 {
  text-align: center;
  border-bottom: solid 1px #fff;
  padding: 0 0 1rem 0;
  margin: 0 0 2.25rem 0; }

.booking {
  background: #181818; }
  .booking a {
    color: #777;
    font-weight: 600;
    display: inline-block;
    -webkit-transition: 0.5s;
    -khtml-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .booking a:hover {
      color: #fff;
      text-decoration: none;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .booking .contact i.fa {
    color: #181818;
    margin-bottom: 0.5rem;
    font-size: 28px;
    font-size: 1.75em;
    font-size: 1.75rem;
    -webkit-transition: 0.5s;
    -khtml-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    line-height: 65px;
    width: 65px;
    height: 65px;
    background: #C60000;
    -webkit-border-radius: 32.5px;
    -khtml-border-radius: 32.5px;
    -moz-border-radius: 32.5px;
    -ms-border-radius: 32.5px;
    -o-border-radius: 32.5px;
    border-radius: 32.5px; }
  .booking .contact:hover i.fa {
    background-color: #fff;
    display: inline-block;
    line-height: 65px;
    width: 65px;
    height: 65px;
    background: #fff;
    -webkit-border-radius: 32.5px;
    -khtml-border-radius: 32.5px;
    -moz-border-radius: 32.5px;
    -ms-border-radius: 32.5px;
    -o-border-radius: 32.5px;
    border-radius: 32.5px; }
  .booking .doforit {
    display: inline-block;
    margin-top: 1rem; }
    .booking .doforit img {
      opacity: .5;
      -webkit-transition: 0.5s;
      -khtml-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .booking .doforit:hover img {
      opacity: 1; }
    .booking .doforit:hover a {
      color: #fff; }

.free-feed {
  margin: 0 auto 1rem auto;
  display: block;
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase; }
  .free-feed:before {
    content: "\f0a7";
    font-family: "FontAwesome";
    color: #fff;
    font-size: 5rem;
    margin: 0 1rem 0 0;
    font-weight: 100; }

footer {
  background: #000; }
  footer .copyright {
    padding: 0; }
    footer .copyright p {
      margin: 0.5rem 0;
      font-size: 12px;
      font-size: 0.75em;
      font-size: 0.75rem;
      color: #777;
      font-weight: 900; }
      footer .copyright p i.fa {
        margin: 0 1px 0 2px; }

.fancybox-skin {
  padding: 5px !important; }

a.fancybox-nav, a.fancybox-nav span {
  cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important; }

.scroll-down {
  text-decoration: none;
  -webkit-transition: 0.75s;
  -khtml-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  .scroll-down::before {
    text-decoration: none; }
  .scroll-down:hover {
    text-decoration: none;
    -webkit-transform: scale(1.35);
    -ms-transform: scale(1.35);
    transform: scale(1.35); }
    .scroll-down:hover::before {
      text-decoration: none; }

.flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 1px 0 0 -1px;
  padding: 0; }
  .flex .flex-item {
    flex: 1; }
  @media only screen and (max-width: 769px) {
    .flex {
      display: block; }
      .flex .flex-item {
        flex: none;
        width: 49%;
        display: inline-block; }
        .flex .flex-item:last-child p {
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: 0; } }

body {
  position: relative; }

body {
  position: relative; }
