/////////////////
//             //
//  MAIN MENU  //
//             //
/////////////////
#main-menu {
	margin: 0;
	padding: 0;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
}