//@include mobile {
	.contain-to-grid {
		background: transparent;
		
		.top-bar {
			background: transparent;
			margin-bottom: -1px;
			
			.title-area {
				height: 45px;
				background: $c1;
				margin-bottom: 0;
			
				.name {
					width: 74px;
					height: 25px;
					@include centerVert;
					margin: -1px 0 0 10px;
					
					a {
						height: 25px;
						width: 74px;
						margin: 0;
						padding: 0;
						text-indent: -9999px;
						background: url(https://webassets.unt.edu/unt-foundation/images/unt_lettermark.svg) center center no-repeat;
					}
				}				
			}
			
			.button {
				top: 0px;				
				background: $c2;
				color: #fff;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 1rem;
				font-size: .8rem;
				height: 1.75rem;
				padding: 7px 0 5px 0;
				
				&.alert {
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					background-color: $c2;
					border-color: $c2;
				}
			}
			
			.top-bar-section {
				width: 100%;
				@include transition(.5s);
				
				.has-form {
					background: transparent;
					
					form {
						max-width: 420px;
						margin: 0 auto;
						
						.row.collapse {
							width: 98%;
						}
					}
				}
				
				li.hast-form {
					background: transparent;
				}
			}
			
			&.expanded {
////				height: 45px;
////				overflow: visible;
				
				.top-bar-section {
					z-index: 99;
					
					& > ul {
//						width: 90%;
//						max-width: 300px;
						border-bottom: solid 5px $c2;
//						margin-left: calc(100% - 300px);
//						margin: 0 5%;
						margin: 0;
//						margin-bottom: 1em;
					
						li {
							margin: 0;
							background: $mm;
							border-bottom: solid 1px #668E68;
							
							&.has-form {
								border-bottom: none;
								text-align: center;
//								background: transparent;
							}
							
							&.audience {
								background: $mm-alt;
							}
							
							&.title.back {
								background: darken($mm,5%);
							}
							
							#{$a-tags} {
								font-family: $open;
								text-transform: uppercase;
								@include font-size(13px);
								text-decoration: none;
								
								&:hover {
									background: $c2;
								}
							}
							
							& > .dropdown {
//								width: 300px;
//								margin: 0 0 0 calc(100vw - 300px);
//								margin-bottom: 1em;
								border-bottom: solid 5px $c2;
								
								li {
									a {
										font-size: 13px !important;
										text-decoration: none;
								padding-top: 12px;
								padding-bottom: 12px;
									}
								}								
							}
							
							&.mm-ctas-wrapper {
								.col {
									background: $mm-alt;
									margin-bottom: 15px;
								}
								
								#{$a-tags} {
									color: #fff;
									font-weight: bold;
									text-align: center;
									font-size: 10px !important;
//									position: relative;
									padding-top: 35px;
									line-height: 1em;
									text-decoration: none;
									
									&.email {
										padding-left: 5px;
										padding-right: 5px;
									}
									
									&.email::before {
										color: #fff;
										content: "\f0e0";
										font-family: $fontawesome;
										@include center($xy:x);
										position: absolute;
										clear: both;
										top: 15px;
										font-weight: 100;
										font-size: 18px;
									}
									
									&.map::before {
										color: #fff;
										content: "\f041";
										font-family: $fontawesome;
										@include center($xy:x);
										position: absolute;
										clear: both;
										top: 15px;
										font-weight: 100;
										font-size: 20px;
									}
									
									&.call::before {
										color: #fff;
										content: "\f095";
										font-family: $fontawesome;
										@include center($xy:x);
										position: absolute;
										clear: both;
										top: 15px;
										font-weight: 100;
										font-size: 20px;
									}
								}
							}
							
							&.has-dropdown {
								
								& > a:after {
									border-color: transparent transparent transparent rgba(#fff, 0.85);
								}
								
								ul.right {
									float: right;
								}
								
								li.title h5 a {
									font-size: 13px !important;
								
									&::before {
										content: "\f0d9";
										font-family: $fontawesome;
										color: #6BA786;
										padding-right: 15px;
	//									position: absolute;
	//									@include center($xy:y);
	//									left: 15px;
									}
								}
							}
							
							&:hover:not(.has-form) > a {
								background: $mm;
							}
							
							&.audience:hover:not(.has-form) > a {
								background: $mm-alt;
							}
						}
					}

					.mm-ctas-wrapper {
						padding: 0 0.9375rem;
					}
					
					.mm-ctas {
						max-width: 420px;
						margin: 0 auto;
						display: block;
						clear: both;
						float: none;
						overflow: hidden;
					}
				}

				& .toggle-topbar {
					margin-bottom: 0;
					
					a {
						color: #fff;
						
						& span::after {
							box-shadow: 0 0 0 1px #ffffff, 0 7px 0 1px #ffffff, 0 14px 0 1px #ffffff;
						}
					}
				}

				.title-area {
					background: $c2;
				}
			}
		}
	}
//}

@include desktop {
	body.f-topbar-fixed {
		padding-top: 0;
	}
}