//////////////////
//              //
//  BAP STYLES  //
//              //
//////////////////
.bap,
.bap-panel {
	position: relative;
	padding: 0;
	overflow: hidden;
	background-size: cover;
	
	@include mobile {
		overflow: visible;
	}
	
	
	@include mobile {
//		margin: 0 -0.9375em; SMALLER PHONES DID NOT LIKE THIS
		margin: 0;
	}
	
	@include small {
		height: 420px;
		
		&.short_bap {
			height: 210px;
		}
	}
	
	@include medium {
		height: 520px;
		
		&.short_bap {
			height: 280px;
		}
	}
	
	@include large-up {
		height: 565px;
		
		&.short_bap {
			height: 260px;
		}
	}
	
	@media only screen and (min-width: 1440px) {
		height: 685px;
		
		&.short_bap {
			height: 340px;
		}
	}
	
	@media only screen and (min-width: 1666px) {
		height: 720px;
		
		&.short_bap {
			height: 360px;
		}
	}
	
	@media only screen and (min-width: 1920px) {
		height: 800px;
		
		&.short_bap {
			height: 400px;
		}
	}

	.bap-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		
		@include mobile {
			min-height: 325px;
			margin-bottom: 100px;

			.box {
				min-height: 325px;
				overflow: visible;

			}
			
			.row {
				min-height: 325px;
			}
		}
		
		.bap-wrapper-overlay {
			height: 100%;
			
			.box {
				height: 100%;
				
				@media (min-width:1550px) {
					width: 75%;
					height: 100%;
				}
				
				.row {
					width: 100%;
					height: 100%;
					max-width: 1600px;
					position: relative;
					
					.col {
						@include desktop {
							margin: 0 auto;
							padding: 0;
						}
					}
				}
			}
		}
	}
	
	.overlay {
		width: 100%;
		position: absolute;

		&.over-top {
			@include small {
				top: 20px;
				bottom: auto;
			}
			
			@include medium {
				top: 30px;
				bottom: auto;
			}
			
			@include large {
				top: 40px;
				bottom: auto;
			}
		}
		
		&.over-middle {
			@include center($xy:y);			
		}
		
		&.over-bottom {			
			@include small {
				bottom: 15px;
				top: auto;
			}
			
			@include medium {
				bottom: 20px;
				top: auto;
			}
			
			@include large-up {
				bottom: 30px;
				top: auto;
			}
		}
		
		.main-text {
			&.text-left {
				text-align: left;
			}
			
			&.text-center {
				text-align: center;
				
				@include mobile {
					text-align: left !important;
				}
			}
			
			&.text-right {
				text-align: right;
				
				@include mobile {
					text-align: left !important;
				}
			}
		}
		
		h3.headline {
			color: #fff;
			font-family: $condensed;
			color: #fff;
			text-shadow: 0 0 10px #000;
			margin-bottom: .25em;
			@include font-size(32px);
			line-height: 36px;
			margin-top: 0;

			@include mobile {
				@include font-size(24px);
				line-height: 24px;
				margin-top: 0;
			}
			
			@include small {
				@include font-size(36px);
				line-height: 40px;
			}
			
			@include medium {
				@include font-size(48px);
				line-height: 56px;
			}
			
			@include large {
				@include font-size(64px);
				line-height: 68px;
			}
		}
		
		p.deck {
			color: #fff;
			font-weight: bold;
			text-shadow: 0 0 10px #000;
			
			@include mobile {
				@include font-size(14px);
				line-height: 18px;
				margin-bottom: 15px;
			}
			
			@include small {
				@include font-size(16px);
				line-height: 20px;
//				margin-bottom: 15px;
			}
			
			@include medium {
				@include font-size(20px);
				line-height: 26px;
			}
			
			@include large {
				@include font-size(24px);
				line-height: 30px;
			}
		}
		
		.btn {
			margin-right: 5px;
			
			a {
				@include mobile {
					font-size: 10px;
					padding: 7px 10px 6px 10px;
				}

				@include small {
					font-size: 12px;
					padding: 8px 15px 7px 15px;
				}
			}
			
		}

		@include mobile {
//			width: 92%;
			height: auto;
//			margin: 0 4%;
			@include centerCancel;
			position: absolute !important;
			overflow: hidden;
			bottom: -100px !important;
			
			&.over-top, &.over-middle, &.over-bottom {
//				width: 92%;
				height: auto;
//				margin: 0 4%;
				@include centerCancel;
				position: absolute !important;
				overflow: hidden;
				bottom: -100px !important;
			}
			
			.main-text {
//				width: 96%;
//				margin: 0 2%;
//				margin-bottom: 5px;
				background: rgba($black,.9);
//				position: relative;
//				bottom: 0;
			}
		}
	}
	
	.add-features {
		position: absolute;
		bottom: 0;
		right: 0;
		
		@include mobile {
			position: relative;
			bottom: auto;
			right: auto;
			padding: 0;
			margin-bottom: 0;
		}
	}
	
	.add-feature {
		width: 47.5%;
		height: 133px;
		margin-left: 2.5%;
		border: solid 3px #fff;
		display: block;
		float: left;
		position: relative;
		background-size: cover;
		
		@include mobile {
			width: 48.5%;
			margin: 0 1.5% 0 0;
			text-decoration: none;
		}		
		
		@include small {
			height: 110px;
		}
		
		@include medium {
			height: 135px;
		}
		
		@include large-up {
			height: 160px;
		}
		
		.add-feature-overlay {
			position: absolute;
			bottom: 5px;
			display: block;
			padding: 8px;
			color: #fff;
			text-decoration: none;
			background: rgba($black,.5);
			@include font-size(14px);
			line-height: 15px;
			width: 100%;
			text-align: left;
			
			@include small {
				@include font-size(13px);
			}
			
			@include mobile {
				@include font-size(12px);
			}
		}
		
		&:hover {
			.add-feature-overlay {
				background: $black;
			}
		}
	}

	.box.features {
		position: absolute;
		display: block;
		bottom: 1rem;
		@include center($xy:x);
		
		.add-feature {
			float: none;
			max-width: 275px;
			margin-bottom: -5px;
			display: inline-block;
		}
		
		&.left-copy {
			height: calc(100% - 1rem);
			
			.row { height: calc(100% - 1rem); }
			
			.overlay {
				width: 100%;
				height: 100%;
				display: inline-block;
				position: absolute;
			}

			.main-text {
				width: 50%;
				position: absolute;
				bottom: 0;
				left: 0;
				
				.inside {
					padding-right: 2rem;
				}
			}
			
			.add-features {
				width: 50%;
				position: absolute;
				left: auto;
				right: 0;
				text-align: right;
				
				.add-feature {
					margin-left: 2.5%;
					margin-right: 0;
				}
			}
		}
		
		&.right-copy {
			height: calc(100% - 1rem);
			
			.row { height: calc(100% - 1rem); }
			
			.overlay {
				width: 100%;
				height: 100%;
				display: inline-block;
				position: absolute;
			}

			.main-text {
				width: 50%;
				position: absolute;
				bottom: 0;
				right: 0;
				left: auto;
				text-align: right;
				
				.btn {
					margin-right: 0;
					margin-left: 5px;
				}

				.inside {
					padding-left: 2rem;
				}
			}
			
			.add-features {
				width: 50%;
				position: absolute;
				bottom: 0;
				left: 0;
				right: auto;
				text-align: left;
				
				.add-feature {
					margin-left: 0;
					margin-right: 2.5%;
				}
			}
		}

		&.left-stacked {
			height: auto;
			
			.row { height: auto; }
			
			.overlay {
				position: relative;
				height: auto;
				width: 75%;
				display: inline-block;
			}
			
			.main-text {
				width: 100%;
				float: none;
				display: block;
			}
			
			.add-features {
				position: relative;
				display: block;
				width: 100%;
				top: auto;
				right: auto;
				bottom: auto;
				left: auto;
				float: none;
				padding-top: 2rem;
			}
		}
		
		&.center {
			height: auto;
			
			.row { height: auto; }
			
			.overlay {
				position: relative;
				height: auto;
				width: 100%;
				display: inline-block;
			}
			
			.main-text {
				width: 100%;
				float: none;
				display: block;
				text-align: center;
			}
			
			.add-features {
				position: relative;
				display: block;
				width: 100%;
				top: auto;
				right: auto;
				bottom: auto;
				left: auto;
				float: none;
				padding-top: 1rem;
				padding-top: 2rem;
				text-align: center;

				.add-feature {
					margin-left: 0;
					margin: 0 1.25%;
				}
			}
		}
		
		&.right-stacked {
			height: auto;
			
			.row { height: auto; }
			
			.overlay {
				position: relative;
				height: auto;
				width: 75%;
				display: inline-block;
				float: right;
			}
			
			.main-text {
				width: 100%;
				float: none;
				display: block;
				text-align: right;
				
				.btn {
					margin-right: 0;
					margin-left: 5px;
				}
			}
			
			.add-features {
				position: relative;
				display: block;
				width: 100%;
				top: auto;
				right: auto;
				bottom: auto;
				left: auto;
				float: none;
				text-align: right;
				padding-top: 2rem;
				
				.add-feature {
					
					.left-stacked &, .left-copy & {
						margin-right: 2.5%;
						margin-left: 0;
					}
					
					.right-stacked &, .right-copy & {
						margin-right: 0;
						margin-left: 2.5%;
					}
					
					.features.center & {
						margin-left: 1.25%;
						margin-right: 1.25%;
					}
				}
			}
		}
	}
	
	@include mobile {
		.bap-wrapper-overlay {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
		}
		
		.box.standard, .box.features {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			@include centerCancel;
			
			&.left-copy, &.left-stacked, &.center, &.right-copy, &.right-stacked {
				height: 100%;
				
				.row {
					height: 100%;
				}
				
				.overlay {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					
					.main-text {
						text-align: left;
//						width: 100%;
						position: absolute;
						left: 0;
//						bottom: 1rem;
						bottom: 0;
						right: 0;
						margin: 0 2% calc(100vw * .02) 2%;
						padding: 10px;
						width: 96%;
						
						.inside {
							padding: 0 1rem;
						}
						
						.btn {
							margin-left: 0;
							margin-right: 5px;
						}
					}
				}

			}
		}		
	}

}

#mobile-add-features {
	display: block;
	background: $black;
	
	#mobile-feature-wrapper {
		margin: 10px 5px;
	}
	
	@include desktop {
		display: none;
	}

	.add-feature:last-child {
		@include mobile {
			margin-right: 0;
			margin-left: 1.5%;
		}
	}
}
