/////////////////////////
//                     //
//  FOUNDATION TWEAKS  //
//                     //
/////////////////////////
.alert-box a {
	color: #fff;
	text-decoration: none;
}

.reveal-modal-bg {
	height: 100%;
}

.reveal-modal, dialog {
	z-index: 1005;
}

ul.accordion {
	margin-left: 0px;
}

////////////////////
//                //
//  ORBIT SLIDER  //
//                //
////////////////////
.orbit-container {
	.orbit-next,
	.orbit-prev {
		margin-bottom: 0;
		@include circle(30px, transparent, block);
		
		span {
			border: none;
			outline: none;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			position: inherit;
			margin-top: 0;
			margin: 0;
			@include circle(30px, transparent, block);
		}
		
		&:hover {
			background-color: transparent;
		}
	}
	
	.orbit-prev {
//		margin-left: -15px;
		
		span {
			background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-prev.png) center center no-repeat;
			background-color: transparent;
			background-size: cover;
			
			&:hover {
				background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-prev-hover.png) center center no-repeat;
				background-color: transparent;
				background-size: cover;
			}
		}
	}

	.orbit-next {
//		margin-right: -15px;
		
		span {
			background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-next.png) center center no-repeat;
			background-color: transparent;
			background-size: cover;
//			margin-left: -15px;
			
			&:hover {
				background: url(//webassets.unt.edu/unt-foundation/images/orbit-arrow-next-hover.png) center center no-repeat;
				background-color: transparent;
				background-size: cover;
			}
		}
	}
}

/////////////////////
//                 //
//  SPLIT COLUMNS  //
//                 //
/////////////////////
@include mobile {
	.split-right {
		margin-bottom: 0;
		padding-bottom: 0;
		
		ul, ol {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	
	.split-middle {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		
		ul, ol {
			margin-top: 0;
			padding-top: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	
	.split-right {
		margin-top: 0;
		padding-top: 0;
		
		ul, ol {
			margin-top: 0;
			padding-top: 0;
		}
	}
}

///////////////////////
//                   //
//  UTILITY CLASSES  //
//                   //
///////////////////////
.section-panel {
	padding: 3rem 0;
	
	@include mobile {
		padding: 2rem 0;
	}
}

.section-first {
	padding: 3rem 0 0 0;
	
	@include mobile {
		padding: 2rem 0 0 0;
	}
}

.section-last {
	padding: 0 0 3rem 0;
	
	@include mobile {
		padding: 0 0 2rem 0;
	}
}

.dark-panel {
	color: #fff;
	
	div, p, ul, ol, blockquote {
		color: #fff;
	}
	
	h1, h2, h3, h4, h5, h6 {
		color: #efefef;
	}
}

.insetBorder {
	outline: 5px solid rgba(#fff,.5);
	outline-offset: -5px;
	
	&.white {
		outline-color: rgba(#fff,.5);
	}
}

.flex-container {
	display: flex;
	
	.tab {
		flex: 1;
		text-align: center;
		display: block;
		margin: 0 0 0 1px;
	}
}

.img-left {
	display: block;
	float: left;
	
	@include medium-up {
		width: 40%;
		margin: 0.5rem 1.75rem 1.75rem 0.5rem;
	}
	
	@include small {
		width: 50%;
		margin: 0.5rem 1.75rem 1.75rem 0.5rem;
	}
	
	@include mobile {
		width: 100%;
		max-width: 520px;
		margin: 0 0 1rem 0;
	}
}

.img-right {
	display: block;
	float: right;
	
	@include medium-up {
		width: 40%;
		margin: 0.5rem 0.5rem 1.75rem 1.75rem;
	}
	
	@include small {
		width: 50%;
		margin: 0.5rem 0.5rem 1.75rem 1.75rem;
	}
	
	@include mobile {
		width: 100%;
		max-width: 520px;
		margin: 0 0 1rem 0;
	}
}

////////////////////////////////////////////////////////////////////
//                                                                //
//  PUT CUSTOM CSS HERE, FOR PAGES THAT AREN'T IN THE TOP LEVELS  //
//                                                                //
////////////////////////////////////////////////////////////////////
#___gcse_0 {
	margin-top: 3rem;

	.gsc-control-cse {
		padding: 0;
		border: none;
		
		.gsc-results {
			width: 100%;
		}
		
		.gcsc-branding {
			padding: 5px 0 2em 0;
		}
		
		.gsc-webResult.gsc-result {
			padding: 1em 0;
		}
		
		.gsc-thumbnail-inside {
			padding: 0;
			
			.gs-title {
				font-weight: bold;
				
				#{$a-tags} {
					color: $c1;
				}
				
				#{$a-tags-hover} {
					color: $black;
				}
			}
		}
		
		.gsc-url-top {
			.gs-result .gs-visibleUrl {
				color: $black;
			}
		}
		
		table.gsc-table-result {
			border: none;
		}
	}
}

#mobile-app {
	display: none;
}

///////////////////////
//                   //
//  SIDEBAR PADDING  //
//                   //
///////////////////////
@include desktop {
	aside {
		&.sidebar-first.columns {
			padding-left: 0;
		}
		
		&.sidebar-second.columns {
			padding-right: 0;
		}
	}
}

@include large {
	.one-sidebar.sidebar-first {
		aside.sidebar-first {
			padding-left: 0;
			padding-right: 3rem;
		}
		
		.main.columns {
			padding-left: 1rem;
		}
	}

	.one-sidebar.sidebar-second {
		aside.sidebar-second {
			padding-left: 3rem;
			padding-right: 0;
		}
		
		.main.columns {
			padding-right: 1rem;
		}
	}
	
	.two-sidebars {
		aside.sidebar-first {
			padding-right: 3rem;
		}
		
		aside.sidebar-second {
			padding-left: 3rem;
		}
		
		.main.columns {
			padding: 0;
		}
	}
}

@include medium {
	.one-sidebar.sidebar-first {
		aside.sidebar-first {
			padding-left: 0;
			padding-right: 2rem;
		}
		
		.main.columns {
			padding-left: 0.5rem;
		}
	}

	.one-sidebar.sidebar-second {
		aside.sidebar-second {
			padding-left: 2rem;
			padding-right: 0;
		}
		
		.main.columns {
			padding-right: 0.5rem;
		}
	}
	
	.two-sidebars {
		aside.sidebar-first {
			padding-left: 0;
			padding-right: 1rem;
		}
		
		aside.sidebar-second {
			padding-left: 1rem;
			padding-right: 0;
		}
		
		.main.columns {
			padding: 0 0.5rem;
		}
	}
}

@include small {
	.one-sidebar.sidebar-first {
		aside.sidebar-first {
			padding-left: 0;
			padding-right: 1.5rem;
		}
		
		.main.columns {
			padding-left: 0;
		}
	}

	.one-sidebar.sidebar-second {
		aside.sidebar-second {
			padding-left: 1.5rem;
			padding-right: 0;
		}
		
		.main.columns {
			padding-right: 0;
		}
	}
	
	.two-sidebars {
		aside.sidebar-first {
			padding-left: 0;
			padding-right: 0.5rem;
		}
		
		aside.sidebar-second {
			padding-left: 0.5rem;
			padding-right: 0;
		}
		
		.main.columns {
			padding: 0 0.25rem;
		}
	}
}

///////////////////
//               //
//  BREADCRUMBS  //
//               //
///////////////////
#breadcrumbs {
	padding: 2rem 0 0 0;
}

///////////////////////
//                   //
//  SLICK OVERRIDES  //
//                   //
///////////////////////
#hero-feature {
	.slick-prev, .slick-next {
		z-index: 1;
		
		&:before {
			font-size: 25px;
		}
	}

	.slick-prev {
		left: 25px;
	}
	
	.slick-next {
		right: 25px;
	}
}