/////////////////////
//                 //
//  SIDEBAR MENUS  //
//                 //
/////////////////////
//.sidebar {
//	.block-menu-block,
//	.block-menu {
//		h2.block-title {
//			@include font-size(20px);
//			font-family: $mont;
//			font-weight: 500;
//			margin: 0;
//	    padding: .75rem .65rem;
//	    background: #00853e;
//	    color: #efefef;
//	    
//	    @include medium-down {
//		    @include font-size(18px);
//	    }
//		}
//		
//		ul.menu {
//			margin: 0 0 1rem 0;
//			padding: 0;		
//		}
//		
//		li {
//			margin: 0 0 -1px 0;
//			list-style: none;
//			position: relative;
//			
//			a {
//				color: #777;
//				padding: 0.65rem;
//				border: solid 1px #ccc;
//				text-decoration: none;
//				display: block;
//				font-size: 0.9em;
//				background: #eee;
//				line-height: 1.25rem;
//				font-weight: 600;
//				@include box-shadow(0,0,8px,#ddd,inset);
//				
//				@include medium-down {
//					font-size: 0.8em;
//					line-height: 1rem;
//				}
//				
//				&:hover {
//					color: #fff;
//					background: lighten($c2,10%);
//				}
//			}
//			
//			&.expanded > a::after {
//				content: "\f0da";
//				font-family: $fontawesome;
//				color: #999;
//				float: right;
//			}
//			
//			&.expanded > a:hover::after {
//				color: #fff;
//			}
//
//			& > ul.menu {
//				display: none;
//				padding-right: 0;
//				position: absolute;
//				top: 0;
////				right: 10px;
//				margin-left: calc(100% - 2px);
//				min-width: 200px;
//			}
//			
//			&:hover {
//				margin-right: -1px;
//				
//				a {
//					box-shadow: none;
//				}
//				
//				& > ul.menu {
//					display: block;
//				}
//			}			
//		}
//	}
//}

///////////////////
//               //
//  BREADCRUMBS  //
//               //
///////////////////
//#breadcrumbs {
//	h2 {
//		display: none;
//	}
//}
//
//.breadcrumbs {
//	margin: 0;
//	padding: 0;
//	border: none;
//	background: transparent;
//	
//	& > * {
//		font-weight: bold;
//	}
//	
//	@include mobile {
//		margin-left: 10px;
//	}
//}

/////////////////////
//                 //
//  POPULAR LINKS  //
//                 //
/////////////////////
//#popular-links {
//
//	& > a {
//		margin-right: -.5rem;
//	}
//	
//	a {
//		@include font-size(9px);
//		text-transform: uppercase;
//		color: #fff;
//		padding: .5em .25em;
//		padding: .5rem .25rem;
//		font-family: $mont;
//		
//		@include medium-up {
//			padding: .5em;
//			padding: .5rem;
//			@include font-size(10px);
//		}
//
//		&::after {
//			content: "\f0d7";
//			font-family: $fontawesome;
//			color: #fff;
//			margin-left: 4px;
//		}
//		
//		&.open {
//			background: #454545;
//		}
//	}
//	
//	.f-dropdown.f-open-dropdown {
//		top: 28px !important;
//		background: rgba($black,.75);
//		border: none;
//		min-width: 109px;
//		z-index: 999;
//		left: 0px;
//		
//		@include small {
//			top: 24px !important;
//		}
//		
//		&.f-open-dropdown {
//		}
//		
//		&::before,
//		&::after {
//			content: "";
//			border: none;
//			display: none;
//		}
//		
//		li:hover {
//			background: #454545;
//		}
//		
//		a {
//			color: #fff;
//			
//			&::after {
//				content: "";
//			}
//		}
//		
//		a:hover {
//			
//			background: transparent;
//		}
//	}
//}

////////////////////
//                //
//  PRIMARY TABS  //
//                //
////////////////////
//div.tabs {
//	position: fixed;
//	bottom: 0px;
//	width: 100%;
//	overflow: hidden;
//	padding: 7px 0 9px 0;
//	text-align: center;
//	@include center($xy:x);
//	@include transBg(#000000,.75);
//	z-index: 501;
//
//	ul {
//		margin: 0;
//		padding: 0;
//		border: none;
//		display: block;
//
//		li {
//			margin: 0;
//			padding: 0;
//			border: none;
//			line-height: 1em;
//			display: inline-block;
//			text-transform: uppercase;
//
//			#{$a-tags} {
//				color: #fff;
//				margin: 0 .25em;
//				padding: 4px 12px 3px 12px;
//				background: transparent;
//				font-size: .6em;
//				letter-spacing: 1px;
//				border: solid 1px #fff;;
//				display: block;
//				font-family: $open;
//				text-decoration: none; 
//
//				&.active {
//					background: #8ac832;
//				}
//			}
//
//			#{$a-tags-hover} {
//				color: #000;
//				background: #fff;
//			}
//			
//			&:first-child .button,
//			&:first-child:hover .button {
//				border-left: solid 1px;
//				border-color: #fff;
//			}
//		}
//	}
//}

/////////////////////////////
//                         //
//  CHEVRON CIRCLE BUTTON  //
//                         //
/////////////////////////////
.scroll-down {
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  margin-top: -250px;
  color: $red !important;
  border: 2px solid #ffffff;
  border-color: rgba(#ffffff, .5);
  font-size: 1.25em;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;  
  @include border-radius(50%);
  background-clip: padding-box;
  @include transition(all 0.3s ease-out);
  bottom: 20px;
  text-decoration: none;

	&::before {
	  content: "\f0e7";
	  @include font-size(17px);
	  font-family: $fontawesome;
	  box-sizing: border-box;
	  text-decoration: none;
	  margin-left: 1px;
	  margin-top: 1px;
	}

	@include mobile {
		display: none;
	}
	
	&:hover {
		border-color: #fff;
		text-decoration: none !important;
		
		&::before {
			text-decoration: none !important;
		}
	}
}


//////////////////////////
//                      //
//  JUMP TO TOP BUTTON  //
//                      //
//////////////////////////
.jump-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 0px;
	overflow: hidden;
	z-index: 1100;
	text-transform: uppercase;
	@include transition(.5s);
	transition-timing-function: ease-in;
	
	@include mobile {
		top: auto;
		bottom: 5px;
		right: 5px;
	}
	
	#{$a-tags} {
		color: #ddd;
		text-decoration: none;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		@include circle(40px, $c1, block);
		line-height: 42px;
		position: relative;
		border: solid 1px rgba(#fff,.9);
		
		&::before {
			content: "\f106";
			font-family: $fontawesome;
			color: #fff;
			position: absolute;
			top: -9px;
			font-size: 1.1em;
			@include center($xy:x);
		}
		
		@include mobile {
			font-size: 9px;
			@include circle(32px, $c1, block);			
			line-height: 38px;
			border: none;
		}
		
		span {
			margin-left: 1px;
		}
	}

	#{$a-tags-hover} {
		color: #fff;
		background: $c2;
	}
	
	.scrolled & {
		height: 40px;
		
		@include mobile {
			height: 32px;
		}
	}
}

///////////////////////////////////
//                               //
//  UNT BLOCK AND GHOST BUTTONS  //
//                               //
///////////////////////////////////
.btn {
	display: inline-block;
	margin: 2px 0;
	
	a {
		@include font-size(14px);
		line-height: 1em;
		font-family: $copy;
		font-weight: normal;
		border: solid 2px;
		padding: 13px 25px 12px 25px;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		@include transition(0.25s);
		
		&:hover {
			text-decoration: none;
		}
		
		&.rounded {
			@include border-radius(5px);
		}
		
		@include mobile {
			@include font-size(12px);
			padding: 11px 20px 10px 20px;
		}

		&::after {
			content: "\f054";
			font-family: $fontawesome;
			font-weight: 100;
			font-size: .9em;
			padding-left: 4px;
		}
		
		&.phone::before {
			content: "\f095";
			font-family: $fontawesome;
			font-weight: 100;
			font-size: 1.1em;
			padding-right: 6px;
		}
		
		&.phone::after {
			content: "";
		}
				
		&.pdf::after {
			content: "\f1c1";
			font-size: 1.15em;
			padding-left: 8px;
		}
		
		&.email::after {
			content: "\f003";
			font-size: 1.25em;
			padding-left: 8px;
		}
		
		&.url {
			text-transform: none;
		}
	}

	&.small a {
		@include font-size(10px);
		padding: 8px 17px 7px 17px;

		&::after {
			font-size: 9px;
		}
	}

	&.btn1 { // SOLID START STATE
		&.c1 {
			
			a {
				color: #fff;
				background-color: $c1;
				border-color: $c1;
			}

			// SETS THE HOVER STATES
			&.outline a:hover {
				color: $c1;
				background-color: transparent;
			}
			
			&.altcolor a:hover {
				background: $c2;
				border-color: $c2;
			}
			
			&.gradient a:hover {
				@include background-gradient($c1, darken($c1, 15));
			}
			
			&.opaque a:hover {
				background-color: rgba($c1,.65);
			}
		}
		
		&.c2 {

			a {
				color: #fff;
				background-color: $c2;
				border-color: $c2;
			}

			// SETS THE HOVER STATES
			&.outline a:hover {
				color: $c2;
				background-color: transparent;
			}
			
			&.altcolor a:hover {
				border-color: $c1;
				background-color: $c1;
			}
			
			&.gradient a:hover {
				@include background-gradient($c2, darken($c2, 15));
			}
			
			&.opaque a:hover {
				background-color: rgba($c2,.65);
			}
		}

		&.gray {

			a {
				color: #fff;
				background-color: #999;
				border-color: #999;
			}

			// SETS THE HOVER STATES
			&.outline a:hover {
				color: #999;
				color: #333;
				background-color: transparent;
			}
			
			&.altcolor a:hover {
				border-color: $c2;
				background-color: $c2;
			}
			
			&.gradient a:hover {
				@include background-gradient(#999, darken(#999, 15));
			}
			
			&.opaque a:hover {
				background-color: rgba(#999,.65);
			}
		}
	}

	&.btn2 { // OUTLINE START STATE

		&.c1 {

			a {
				color: $c1;
				background-color: transparent;
				border-color: $c1;
			}
			
			&.solid a:hover {
				color: #fff;
				background-color: $c1;
			}
			
			&.altcolor a:hover {
				color: $c2;
				border-color: $c2;
			}
			
			&.gradient a:hover {
				color: #fff;
				@include background-gradient($c1, darken($c1, 15));
			}
			
			&.opaque a:hover {
				color: #fff;
				background: rgba($c1,.8);
			}
		}

		&.c2 {

			a {
				color: $c2;
				background-color: transparent;
				border-color: $c2;
			}
			
			&.solid a:hover {
				color: #fff;
				background-color: $c2;
			}
			
			&.altcolor a:hover {
				color: $c1;
				border-color: $c1;
			}
			
			&.gradient a:hover {
				color: #fff;
				@include background-gradient($c2, darken($c2, 15));
			}
			
			&.opaque a:hover {
				color: #fff;
				background: rgba($c2,.8);
			}
		}

		&.gray {

			a {
				color: #999;
				background-color: transparent;
				border-color: #999;
			}
			
			&.solid a:hover {
				color: #fff;
				background-color: #999;
			}			
		}

		&.white {

			a {
				color: #fffffe;
				color: #fff;
				background-color: transparent;
				border-color: #fff;
			}
			
			&.solid a:hover {
				color: $c2;
				background-color: #fff;
			}			
		}

		&.black {

			a {
				color: $black;
				background-color: transparent;
				border-color: rgba($black,.99);
				border-color: $black;
			}
			
			&.solid a:hover {
				color: #fff;
				background-color: $black;
			}			
		}

		&.light-gray {

			a {
				color: #efefef;
				background-color: transparent;
				border-color: #efefef;
				background-color: rgba(#000,.35);
			}
			
			&.solid a:hover {
				color: $c1;
				background-color: #fff;
				border-color: #fff;
			}			
		}
	}
}

.btn-group {
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
	
	.btn {
		margin: 0 1em 0 0;
		display: inline-block;
		
		@include mobile {
			margin-bottom: 1em;
		}
	}
}