body {
	margin: 0;
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	background: url(../images/lazy-rodeo-1.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h3 {
	color: #fff;
	margin: 0 0 5px 0;
}

ul, ol {
	margin: 0;
	padding: 0 0 1.5em 40px;
}

li {
	line-height: 1.35em;
	margin: 0 0 .5em 0;
}

a {
	cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important;
}


//.col {
//	&.center {
//		audio {
//			width: 100%;
//			margin: 1em auto;
//		}
//	}
//}

//
// ██     ██ ███████ ██       ██████  ██████  ███    ███ ███████
// ██     ██ ██      ██      ██      ██    ██ ████  ████ ██
// ██  █  ██ █████   ██      ██      ██    ██ ██ ████ ██ █████
// ██ ███ ██ ██      ██      ██      ██    ██ ██  ██  ██ ██
//  ███ ███  ███████ ███████  ██████  ██████  ██      ██ ███████
//
.lazydc {
//	height: 100vh;
//	background: url(../images/lazy-rodeo-1.jpg) center center no-repeat;
//	background-size: cover;
	position: relative;

	.wrapper {
		height: 100vh;
		background: rgba(0,0,0,.75);

		@include mobile {
			height: 65vh;
		}

		@include iphone {
			height: 40vh;
		}
	}
}

.top-logo {
	width: 60%;
	position: absolute;
	@include center($xy:xy);

	img {
		width: 100%;
	}
}

.detes {
	font-size: .7em;
}

//
// ████████ ██   ██ ███████     ██████   █████  ███    ██ ██████
//    ██    ██   ██ ██          ██   ██ ██   ██ ████   ██ ██   ██
//    ██    ███████ █████       ██████  ███████ ██ ██  ██ ██   ██
//    ██    ██   ██ ██          ██   ██ ██   ██ ██  ██ ██ ██   ██
//    ██    ██   ██ ███████     ██████  ██   ██ ██   ████ ██████
//
.the-band {
	background: url(/images/black-tolex.jpg) lighten($black,10%);

	.piping {
		padding: 5em 0;
//		background: url(../images/piping.png) center center repeat-x;
	}

	.piping-top {
		background: url(../images/shade-top.png) top center repeat-x;
	}

	.piping-bottom {
		background: url(../images/shade-bottom.png) bottom center repeat-x;
	}

	h2.title {
		color: #fff;
		font-weight: 600;

		span {
			display: none;

			@media (max-width:767px) {
				display: inherit;
				height: 1px;
			}
		}
	}

	.bio {
		@include font-size(17px);
		font-weight: 500;
	}

	.member {
		text-align: center;

//		.inside {
//			padding: 0 1em;
//		}

		img {
			width: 80%;
			border: solid 2px #fff;
			@include transition(0.5s);
	    @include transform(scale(1));
	    cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important;


	    @include small {
		    width: 90%;
	    }

	    @include mobile {
		    width: 100%;
	    }

	    &:hover {
				@include transform(scale(1.05));
			}
		}

		p {
			font-size: 2rem;
			font-weight: 100;
			margin: 30px 0 2em 0;
			font-family: $condensed;
			text-transform: uppercase;
			line-height: 1.75rem;

			span {
				font-size: 1rem;
				font-weight: bold;
				letter-spacing: 1px;
				display: block;
				line-height: 1.25em;
				padding-top: 1rem;
			}
		}
	}
}

/////////////
//         //
//  MEDIA  //
//         //
/////////////

.media {
//	background: url(../images/lazy-rodeo-1.jpg) center center no-repeat;
//	background-size: cover;
//	background-attachment: fixed;

	.wrapper {
		background: rgba(#000,.65);
	}

	.col {
		background: transparent;

		&.players {
			margin: 5rem auto;
		}

		.player {
			padding: 1em 1.5em .5em 1.5em;
			background: rgba(0,0,0,.5);
			border-radius: 15px;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}

//			@include desktop {
//				width: 45%;
//				display: block;
//				box-sizing: border-box;
//				float: left;
//
//				&:nth-child(odd) {
//					margin-right: 5%;
//					clear: left;
//				}
//
//				&:nth-child(even) {
//					margin-left: 5%;
//				}
//			}

			@media (max-width:767px) {
				padding: 1.5em;
			}

			h3 {
				text-align: center;
				@include font-size(32px);
				line-height: rem-calc(38px);
				font-weight: 100;
			}
		}
	}

	audio {
		display: block;
		clear: both;
		margin: 1em auto;
		background: #f00;
		width: 100%;
		@include border-radius(5px);
		cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important;
	}

	.download {
		font-size: .7em;
		margin: 5px 0 0 0;
	}
}

i.fa.fa-bolt {
	@include transColor(#f00,.75);
}

.setlist {
	h3 {
		text-align: center;
		border-bottom: solid 1px #fff;
		padding: 0 0 1rem 0;
		margin: 0 0 2.25rem 0;
	}
}

///////////////
//           //
//  BOOKING  //
//           //
///////////////
.booking {
	background: $black;

	a {
		color: #777;
		font-weight: 600;
		display: inline-block;
		@include transition(0.5s);
		@include transform(scale(1));

		&:hover {
			color: #fff;
			text-decoration: none;
			@include transform(scale(1.1));
		}
	}

	.contact {

		i.fa {
			color: $black;
			margin-bottom: 0.5rem;
			@include font-size(28px);
			@include transition(0.5s);
			@include circle(65px,$red ,inline-block);
		}

		&:hover {
			i.fa {
				background-color: #fff;
				@include circle(65px,#fff ,inline-block);
			}
		}
	}

	.doforit {
		display: inline-block;
		margin-top: 1rem;

		img {
			opacity: .5;
			@include transition(0.5s);
		}

		&:hover {
			img {
		    opacity: 1;
		  }

		  a {
			  color: #fff;
		  }
		}
	}
}

//
// ███████ ███████ ███████ ██████  ███████
// ██      ██      ██      ██   ██ ██
// █████   █████   █████   ██   ██ ███████
// ██      ██      ██      ██   ██      ██
// ██      ███████ ███████ ██████  ███████
//

.free-feed {
	margin: 0 auto 1rem auto;
	display: block;
	text-align: center;
	font-size: 3.5rem;
	text-transform: uppercase;

	&:before {
		content: "\f0a7";
		font-family: $fontawesome;
		color: #fff;
		font-size: 5rem;
		margin: 0 1rem 0 0;
		font-weight: 100;
	}
}

/////////////////
//             //
//  COPYRIGHT  //
//             //
/////////////////
footer {
	background: #000;

	.copyright {
		padding: 0;

		p {
			margin: 0.5rem 0;
			@include font-size(12px);
			color: #777;
			font-weight: 900;

			i.fa {
				margin: 0 1px 0 2px;
			}
		}
	}
}

/////////////////////////
//                     //
//  UTILITIES & FIXES  //
//                     //
/////////////////////////
.fancybox-skin {
	padding: 5px !important;
}

a.fancybox-nav, a.fancybox-nav span {
	cursor: url(//cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important;
}

.scroll-down {
  text-decoration: none;
  @include transition(0.75s);
  @include transform(scale(1));

	&::before {
	  text-decoration: none;
//	  @include transition(0.75s);
//	  @include transform(scale(1));
	}

	&:hover {
		text-decoration: none;
		@include transform(scale(1.35));

		&::before {
			text-decoration: none;
//			@include transform(scale(1.5));
		}
	}
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 1px 0 0 -1px;
  padding: 0;

	.flex-item {
    flex: 1;
	}

	@include mobile {
		display: block;

		.flex-item {
			flex: none;
			width: 49%;
			display: inline-block;

			&:last-child p {
				font-size: 1rem;
				font-weight: bold;
				letter-spacing: 1px;
				margin-bottom: 0;
			}
		}
	}
}

body { position: relative; }
