////////////////////////
//                    //
//  GENERAL SETTINGS  //
//                    //
////////////////////////
html, body {
	margin: 0;
	padding: 0;
	height: auto;
}

//body {
//	@media screen and (max-width: #{$small - 1px}) {
//		padding-top: 45px;
//	}
//}

.main.columns {
	@include desktop {
		padding-left: 0;
		padding-right: 0;
	}
}

main.row {
	padding: 3rem 0 5rem 0;
}

.wide-body {
	main.row {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	
	div.main.columns {
		padding-left: 0;
		padding-right: 0;
		
		@include mobile {
			padding: 0 0.9375em;
		}
	}
}

//
// Setting up column widths. 5th, 7th and 8th are set to allow for non-standard grid columns.
//
@mixin g12 { width: calc(100% - (#{$gutter}*2)); }
@mixin g11 { width: calc(((100%/12)*11) - (#{$gutter}*2)); }
@mixin g10 { width: calc(((100%/12)*10) - (#{$gutter}*2)); }
@mixin g9 { width:  calc(75% - (#{$gutter}*2)); }
@mixin g8 { width: calc(((100%/12)*8) - (#{$gutter}*2)); }
@mixin g7 { width: calc(((100%/12)*7) - (#{$gutter}*2)); }
@mixin g6 { width: calc(50% - (#{$gutter}*2)); }
@mixin g5 { width: calc(((100%/12)*5) - (#{$gutter}*2)); }
@mixin g4 { width: calc(((100%/12)*4) - (#{$gutter}*2)); }
@mixin g3 { width: calc(25% - (#{$gutter}*2)); }
@mixin g2 { width: calc(((100%/12)*2) - (#{$gutter}*2)); }
@mixin g1 { width: calc((100%/12) - (#{$gutter}*2)); }
@mixin g0 { width: 0px; height: 0px; }
@mixin g5th { width: calc(20% - (#{$gutter}*2)); }
@mixin g7th { width: calc((100%/7) - (#{$gutter}*2)); }
@mixin g8th { width: calc((100%/8) - (#{$gutter}*2)); }

@mixin m12 { width: calc(100% - (#{$mgutter}*2)); }
@mixin m11 { width: calc(((100%/12)*11) - (#{$mgutter}*2)); }
@mixin m10 { width: calc(((100%/12)*10) - (#{$mgutter}*2)); }
@mixin m9 { width:  calc(75% - (#{$mgutter}*2)); }
@mixin m8 { width: calc(((100%/12)*8) - (#{$mgutter}*2)); }
@mixin m7 { width: calc(((100%/12)*7) - (#{$mgutter}*2)); }
@mixin m6 { width: calc(50% - (#{$mgutter}*2)); }
@mixin m5 { width: calc(((100%/12)*5) - (#{$mgutter}*2)); }
@mixin m4 { width: calc(((100%/12)*4) - (#{$mgutter}*2)); }
@mixin m3 { width: calc(25% - (#{$mgutter}*2)); }
@mixin m2 { width: calc(((100%/12)*2) - (#{$mgutter}*2)); }
@mixin m1 { width: calc((100%/12) - (#{$mgutter}*2)); }
@mixin m0 { width: 0px; height: 0px; }
@mixin m5th { width: calc(20% - (#{$mgutter}*2)); }
@mixin m7th { width: calc((100%/7) - (#{$mgutter}*2)); }
@mixin m8th { width: calc((100%/8) - (#{$mgutter}*2)); }

@mixin p12 { width: 100%; }
@mixin p11 { width: calc((100%/12)*11); }
@mixin p10 { width: calc((100%/12)*10); }
@mixin p9 { width:  75%; }
@mixin p8 { width: calc((100%/12)*8); }
@mixin p7 { width: calc((100%/12)*7); }
@mixin p6 { width: 50%; }
@mixin p5 { width: calc((100%/12)*5); }
@mixin p4 { width: calc((100%/12)*4); }
@mixin p3 { width: 25%; }
@mixin p2 { width: calc((100%/12)*2); }
@mixin p1 { width: calc(100%/12); }
@mixin p0 { width: 0px; height: 0px; }
@mixin p5th { width: 20%; }
@mixin p7th { width: calc(100%/7); }
@mixin p8th { width: calc(100%/8); }



//////////////////////
//  SECTION LAYOUT  //
//////////////////////
.section {
	width: 100%;
	margin: 0;
	padding: 0;
}

.box {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	
	@include mobile {
		margin-left: 0;
		margin-right: 0;
//		width: calc(100% - (#{$mgutter} * 2));
		width: 100%;
	}

	@include small { width: 740px; } // FOR NON-WIDE FOUNDATION LAYOUTS
	@include medium {	width: 960px; } // FOR NON-WIDE FOUNDATION LAYOUTS
	@include large { width: 1180px; } // FOR NON-WIDE FOUNDATION LAYOTUS
	//@include xlarge { width: 1420px; }
	
	// FOR ONE SIDEBAR
	.main.columns.medium-9 & {
		margin-left: -20px;
		
		@include small { width: 555px; } // FOR NON-WIDE FOUNDATION LAYOUTS
		@include medium {	width: 720px; } // FOR NON-WIDE FOUNDATION LAYOUTS
		@include large { width: 885px; } // FOR NON-WIDE FOUNDATION LAYOTUS
	}
	
	// FOR TWO SIDEBARS
	.main.columns.medium-6 & {
		margin-left: -20px;

		@include small { width: 370px; } // FOR NON-WIDE FOUNDATION LAYOUTS
		@include medium {	width: 480px; } // FOR NON-WIDE FOUNDATION LAYOUTS
		@include large { width: 590px; } // FOR NON-WIDE FOUNDATION LAYOTUS
	}
	
	&.wide { // FOR STRETCHING THE BOX TO 100% WIDTH INSTEAD OF RESTRICTED TO GRID
		width: 100%;
		
		@include mobile {
			.row {
				width: calc(100% - (#{$mgutter} * 2));
				padding: 0 $mgutter;
			}
		}
	}
	
	.wide-body & {
		@include small { width: 740px; }
		@include medium { width: 960px; }
		@include large { width: 1180px; }
		
		&.wide {
			width: 100%;
		}
	}
}

.row {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
//	overflow: hidden;
	
	&:before, &:after {
		content: " ";
		display: table;
	}
	
	& .row {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
	
	@include mobile {
//		width: 96%;
//		margin-left: 0 !important;
//		margin-right: 0 !important;
		
		main & {
			width: 100%;
			margin: 0 auto !important;
		}
		
		.row {
			width: 100%;
		}
	}

	@include mobile {
		width: 96%;
		margin: 0 auto;
	}
	
	@include small {
		width: 740px;	
	}
	
	@include medium {
		width: 960px;
	}
	
	@include large {
		width: 1180px;
	}	
}

.row-separator {
	padding: 2em 0;
	
	@include mobile {
		padding: 1em 0;
	}
}

.col {
	margin: $gutter;
	padding: $gutter;
	float: left;
	display: block;
	position: relative;
	@include box-sizing(border-box);
	
	@include mobile {
		margin: 0 $mgutter $gutter $mgutter;
//		margin: 0 $gutter $gutter $gutter;
	}
	
	&.parent {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		background: none;
	}
	
	&.gutterless {
		margin: 0;
		padding: 0;
	}
	
	&.center {
		text-align: center;
	}

	&.centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		clear: both;
	}
	
	&.right {
		float: right;
		
		@media (max-width:767px) {
			float: none;
		}	
	}
	
	& > .inside {
		margin: 0 1rem;
	}
	
	&.clearLeft {
		clear: left;
	}	
}

///////////////////////
//  COLUMN SETTINGS  //
///////////////////////
.col {
	@include desktop {
		&.large-12 	{ @include g12; &.gutterless, &.parent { @include p12; }}
		&.large-11 	{ @include g11; &.gutterless, &.parent { @include p11; }}
		&.large-10 	{ @include g10; &.gutterless, &.parent { @include p10; }}
		&.large-9  	{ @include g9; &.gutterless, &.parent { @include p9; }}
		&.large-8  	{ @include g8; &.gutterless, &.parent { @include p8; }}
		&.large-7  	{ @include g7; &.gutterless, &.parent { @include p7; }}
		&.large-6  	{ @include g6; &.gutterless, &.parent { @include p6; }}
		&.large-5  	{ @include g5; &.gutterless, &.parent { @include p5; }}
		&.large-4  	{ @include g4; &.gutterless, &.parent { @include p4; }}
		&.large-3  	{ @include g3; &.gutterless, &.parent { @include p3; }}
		&.large-2  	{ @include g2; &.gutterless, &.parent { @include p2; }}
		&.large-1  	{ @include g1; &.gutterless, &.parent { @include p1; }}
		&.large-0  	{ @include g0; &.gutterless, &.parent { @include p0; }}
		&.large-5th { @include g5th; &.gutterless, &.parent { @include p5th; }}
		&.large-7th { @include g7th; &.gutterless, &.parent { @include p7th; }}
		&.large-8th { @include g8th; &.gutterless, &.parent { @include p8th; }}
	}
	
	@media only screen and (min-width: $small) and (max-width: $large) {
		&.medium-12	 { @include g12; &.gutterless, &.parent { @include p12; }}
		&.medium-11	 { @include g11; &.gutterless, &.parent { @include p11; }}
		&.medium-10	 { @include g10; &.gutterless, &.parent { @include p10; }}
		&.medium-9 	 { @include g9; &.gutterless, &.parent { @include p9; }}
		&.medium-8 	 { @include g8; &.gutterless, &.parent { @include p8; }}
		&.medium-7 	 { @include g7; &.gutterless, &.parent { @include p7; }}
		&.medium-6 	 { @include g6; &.gutterless, &.parent { @include p6; }}
		&.medium-5 	 { @include g5; &.gutterless, &.parent { @include p5; }}
		&.medium-4 	 { @include g4; &.gutterless, &.parent { @include p4; }}
		&.medium-3 	 { @include g3; &.gutterless, &.parent { @include p3; }}
		&.medium-2 	 { @include g2; &.gutterless, &.parent { @include p2; }}
		&.medium-1 	 { @include g1; &.gutterless, &.parent { @include p1; }}
		&.medium-0 	 { @include g0; &.gutterless, &.parent { @include p0; }}
		&.medium-5th { @include g5th; &.gutterless, &.parent { @include p5th; }}
		&.medium-7th { @include g7th; &.gutterless, &.parent { @include p7th; }}
		&.medium-8th { @include g8th; &.gutterless, &.parent { @include p8th; }}
	}
	
	@media only screen and (min-width: $small) and (max-width: $medium) {
		&.small-12 	{ @include g12; &.gutterless, &.parent { @include p12; }}
		&.small-11 	{ @include g11; &.gutterless, &.parent { @include p11; }}
		&.small-10 	{ @include g10; &.gutterless, &.parent { @include p10; }}
		&.small-9  	{ @include g9; &.gutterless, &.parent { @include p9; }}
		&.small-8  	{ @include g8; &.gutterless, &.parent { @include p8; }}
		&.small-7  	{ @include g7; &.gutterless, &.parent { @include p7; }}
		&.small-6  	{ @include g6; &.gutterless, &.parent { @include p6; }}
		&.small-5  	{ @include g5; &.gutterless, &.parent { @include p5; }}
		&.small-4  	{ @include g4; &.gutterless, &.parent { @include p4; }}
		&.small-3  	{ @include g3; &.gutterless, &.parent { @include p3; }}
		&.small-2  	{ @include g2; &.gutterless, &.parent { @include p2; }}
		&.small-1  	{ @include g1; &.gutterless, &.parent { @include p1; }}
		&.small-0  	{ @include g0; &.gutterless, &.parent { @include p0; }}
		&.small-5th { @include g5th; &.gutterless, &.parent { @include p5th; }}
		&.small-7th { @include g7th; &.gutterless, &.parent { @include p7th; }}
		&.small-8th { @include g8th; &.gutterless, &.parent { @include p8th; }}
	}
}

////////////////////////////////
//                            //
//  FOR FOUNDATION INSERTION  //
//                            //
////////////////////////////////
@include mobile {
	.mobile-12  { @include m12; &.parent, &.gutterless { @include p12; }}
	.mobile-11  { @include m11; &.parent, &.gutterless { @include p11; }}
	.mobile-10  { @include m10; &.parent, &.gutterless { @include p10; }}
	.mobile-9 	{ @include m9; &.parent, &.gutterless { @include p9; }}
	.mobile-8 	{ @include m8; &.parent, &.gutterless { @include p8; }}
	.mobile-7 	{ @include m7; &.parent, &.gutterless { @include p7; }}
	.mobile-6 	{ @include m6; &.parent, &.gutterless { @include p6; }}
	.mobile-5 	{ @include m5; &.parent, &.gutterless { @include p5; }}
	.mobile-4 	{ @include m4; &.parent, &.gutterless { @include p4; }}
	.mobile-3 	{ @include m3; &.parent, &.gutterless { @include p3; }}
	.mobile-2 	{ @include m2; &.parent, &.gutterless { @include p2; }}
	.mobile-1 	{ @include m1; &.parent, &.gutterless { @include p1; }}
	.mobile-0 	{ width: 0px !important; height: 0px !important; display: none; }
	.mobile-5th { @include m5th; &.parent, &.gutterless { @include p5th; }}
	.mobile-7th { @include m7th; &.parent, &.gutterless { @include p7th; }}
	.mobile-8th { @include m8th; &.parent, &.gutterless { @include p8th; }}
	
	.mobile-centered {
		float: none;
		clear: both;
		margin: calc(#{$mgutter}*2) auto;
		
		.parent &:last-child {
			margin-bottom: $mgutter;
		}
	}
}

//////////////////////////////////////////
//                                      //
//  END FOUNDATION FIX FOR MOBILE GRID  //
//                                      //
//////////////////////////////////////////

.col {
	@include mobile {
	
		&.small-1, &.small-2, &.small-3, &.small-4, &.small-5, &.small-6, &.small-7, &.small-8, &.small-9, &.small-10, &.small-11, &.small-12, &.small-5th, &.small-7th, &.small-8th, &.medium-1, &.medium-2, &.medium-3, &.medium-4, &.medium-5, &.medium-6, &.medium-7, &.medium-8, &.medium-9, &.medium-10, &.medium-11, &.medium-12, &.medium-5th, &.medium-7th, &.medium-8th, &.large-1, &.large-2, &.large-3, &.large-4, &.large-5, &.large-6, &.large-7, &.large-8, &.large-9, &.large-10, &.large-11, &.large-12, &.large-5th, &.large-7th, &.large-8th {
//			width: calc(100% - (#{$mgutter} * 2));
			width: calc(100% - (#{$mgutter} * 2));
			margin: 0 $mgutter $gutter $mgutter;
			
			&.parent {
				width: 100%;
				margin: 0;
			}			
		}

		&.mobile-1, &.mobile-2, &.mobile-3, &.mobile-4, &.mobile-5, &.mobile-6, &.mobile-7, &.mobile-8, &.mobile-9, &.mobile-10, &.mobile-11, &.mobile-12, &.mobile-5th, &.mobile-7th, &.mobile-8th {
			float: left;
			clear: none;		
		}
	
		&.mobile-12 { @include m12; &.parent { width: calc(((100%/12)*12)); } }
		&.mobile-11 { @include m11; &.parent { width: calc(((100%/12)*11)); } }
		&.mobile-10 { @include m10; &.parent { width: calc(((100%/12)*10)); } }
		&.mobile-9  { @include m9; &.parent { width: calc(((100%/12)*9)); } }
		&.mobile-8  { @include m8; &.parent { width: calc(((100%/12)*8)); } }
		&.mobile-7  { @include m7; &.parent { width: calc(((100%/12)*7)); } }
		&.mobile-6  { @include m6; &.parent { width: calc(((100%/12)*6)); } }
		&.mobile-5  { @include m5; &.parent { width: calc(((100%/12)*5)); } }
		&.mobile-4  { @include m4; &.parent { width: calc(((100%/12)*4)); } }
		&.mobile-3  { @include m3; &.parent { width: calc(((100%/12)*3)); } }
		&.mobile-2  { @include m2; &.parent { width: calc(((100%/12)*2)); } }
		&.mobile-1  { @include m1; &.parent { width: calc(((100%/12)*1)); } }
		
		&.mobile-0 { width: 0px !important; height: 0px !important; display: none; }
		
		&.mobile-5th { @include m5th; &.parent { width: calc(((100%/12)*5)); } }
		&.mobile-7th { @include m7th; &.parent { width: calc(((100%/12)*7)); } }
		&.mobile-8th { @include m8th; &.parent { width: calc(((100%/12)*8)); } }
		
		&.mobile-centered {
			float: none;
			clear: both;
			margin: calc(#{$mgutter}*2) auto;
			
			.parent &:last-child {
				margin-bottom: $mgutter;
			}
		}
	}
}