@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,800|Montserrat:400,700);

// PRIMARY COLORS
$black:			#181818;

$orange:		#F46F02;
$green1:		#89C732;
$green2:		#BED80F;
$green3:		#C7DD53;

$yellow: 		#ECEB00;
$red: 			#C60000;

$c1:				$green1;
$c2:				$orange;
$c3:				$green2;

// SECONDARY COLORS
$mm:				$black;
$mm-alt:		$c1;
$mm-hover:	$c2;

// SOCIAL
$facebook: 		#3b5998;
$twitter:	 		#55acee;
$youtube:	 		#cd201f;
$instagram:		#3f729b;
$vimeo:		 		#85D0E0;
$flickr:	 		#82B2CF;
$linkedin: 		#1484CA;
$pinterest:		#EF554D;
$mobile:	 		#046C35;
$directory:		#897B68;

// TYPOGRAPHY
$base-font: 	16px;
$type:				#222222;
$headers: 		#444444;
$open:				'Open Sans', Verdana, sans-serif;
$condensed:		'Open Sans Condensed', sans-serif;
$mont:				'Montserrat', Verdana, sans-serif;
$fontawesome:	'FontAwesome';
$copy:				$open;
$headings:		$condensed;

// LINKS
$a-tags: 				'a, a:link, a:active, a:visited';
$a-tags-hover: 	'a:active, a:hover';