section.block-bean {
	.alt-block-title {
		margin-bottom: .75em;
	}
}

.gallery-image-wrapper {
	.gallery-image {
		background-size: cover;
		background-position: center center;
		@include inset-border(3px,#fff,0.5);
//		@include transition(0.25s);

		&:hover {
			outline-color: $c1;
		}
	}
}

.reveal-modal {
	img {
		max-height: 70vh;
	}
}

.bean-gallery {
	li {
		margin-bottom: 0;
	}
}